/* Application styles could go here */

/* Basics */

*{ 
 font-family: 'Open Sans', sans-serif;  
}

html{
    background-color: #fff; 
}

body{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 15px;
    background-color: #B7B7B7;
}

p{
    font-size: 15px;
}

body > div.container{
    max-width: 70%;
}

#content.container{
    width: 1230px;
    margin: 12px auto;
}

h1{
    text-align: center;
    font-size: 29px; 
} 

h2{
    font-size: 17pt;
    line-height: 20px;
    margin: 0 auto 22px auto;
    text-align: center; 
}

h5
{
    text-align: center; 
    font-size: 16px; 
}

h6{
    font-size:15px;
    text-align: center; 
    padding: 5px 0;
    margin: 0;
}


label{
    display:inline;
    font-weight: 100 !important;
}

.clear{
    clear:both;
}

/* Unbekannt*/

#titletool{
    color: #F5F5F5;
    font-size : 25px;
}

#titletool2{
    color: #fff;
}

/* Header */

#page-header{
    height:300px;
    border: 1px solid #000;   
    margin: 0 auto; 
    width: 99%; 
    z-index:0;
}
    #page-header a{
        text-decoration: none;
        color: #000;
    }

#header-image{
    width:99%;
    height:300px;
    position:absolute;
    z-index:0;
}

.dropdown.open .dropdown-toggle{
    color: #666;
}

.dropdown-submenu{
    white-space: nowrap;
}

#headline{
 margin: 0 auto;
 display:block;
 width:100%;
 }

#title{            
 width: 490px; 
 height: 95px; 
 background: #990000; 
 margin: 0 0 0 30px; 
 padding: 5px 10px; 
 z-index:1;
 position:absolute;
}

/* Content */

#content
{
 width: 1025px; 
 margin: 0 auto; 
}

#content.main{
    padding-top: 20px;
    margin: 0 auto; 
}

#content li{
    margin: 5px 0;
}

#side{
 background-color: #fff;
 margin: 0 auto;
}

/* MATCH HIGHLIGTING */
.hi{
    background-color: #bbbbbb;
    display: inline-block;
}

/* Extended Style*/

/* Navigation */

#navi{
 width: 824px; 
 margin: -30px auto 0;
 font-size: 16px;
 border:0px solid #888;
 background: #990000;
 z-index:1;
 position: relative;
}

.nav-cont{
list-style: none; 
display: inline-block;
}
    .nav-cont li{
     display: inline-block;
     padding: 0 10px;
     font-size: 15px;
    }

#navi_elements{
        padding:0px 0px 7px 9px;    
        z-index:1;          
}
    #navi_elements li{
        color: #fff; 
        display: inline-block;
        padding: 16px 10px 6px 9px;
        font-size: 16px; 
    }
    
/*Details der Navi*/

.nav_tabs{
    background-color: #222;
    text-decoration:none;
}

.nav_sub_tabs{
    list-style:none;
}
    .nav_sub_tabs a{
        text-decoration: none;
    }
    .nav_sub_tabs:hover a{
        text-decoration: none;
    }

#nav_autores, #nav_documentos, #nav_publicacoes,#nav_obras, #nav_genero, #nav_cronologia, #nav_index, #nav_projeto{
     margin:0 auto;
    }
    
.nav_autores_tab, .nav_documentos_tab, .nav_publicacoes_tab, .nav_obras_tab, .nav_genero_tab, .nav_cronologia_tab, .nav_index_tab, .nav_projeto_tab{
    display:inline-block;    
    }
    .nav_autores_tab, .nav_publicacoes_tab{
        padding: 3px 25px;    
    }
    .nav_documentos_tab {
       padding: 3px 7px;
    }  
    .nav_obras_tab {
        padding:4px 28px;
    }
    .nav_genero_tab {
        padding: 3px 35px;
    }    
    .nav_cronologia_tab {
           padding: 3px 28px;
    }    
    .nav_index_tab {
        padding: 8px 12px;
    }    
    .nav_projeto_tab{
        padding: 6px 37px;
    }

.nav_documentos_sub_tab, .nav_cronologia_sub_tab, .nav_cronologia_sub_ext_tab, .nav_obras_sub_tab,.nav_publicacoes_sub_tab, .nav_bibliografia_sub_tab{
        text-decoration:none;
        display:inline-block;
        margin: 3px 5px; 
        padding: 5px; 
        background: #222; 
        min-width: 95px;
        text-align: center;
    }
    .nav_cronologia_sub_tab{
        min-width: 65px !important;
        margin: 3px 4px !important;
    }
    .nav_publicacoes_sub_tab
    {
       margin: 3px 21px 3px 5px !important;  
    }
    .nav_documentos_sub_tab:hover, .nav_cronologia_sub_tab:hover, .nav_cronologia_sub_ext_tab:hover, .nav_obras_sub_tab:hover, .nav_publicacoes_sub_tab:hover, .nav_bibliografia_sub_tab:hover{
            background-color: #4E4E4E;
            text-decoration:none;
    }
    .nav_documents_sub_tab a, .nav_cronologia_sub_tab a, .nav_cronologia_sub_ext_tab a{
                text-decoration:none;
    }
    .nav_documents_sub_tab:hover a, .nav_cronologia_sub_tab:hover a, .nav_cronologia_sub_ext_tab:hover a{
                text-decoration:none;
    }
.nav_documentos_tab:hover, .nav_autores_tab:hover, .nav_documentos_tab:hover, .nav_publicacoes_tab:hover, .nav_obras_tab:hover, .nav_genero_tab:hover, .nav_cronologia_tab:hover, .nav_index_tab:hover, .nav_projeto_tab:hover {
    background-color: #4E4E4E  !important;
    text-decoration:none;
    }

/* Search */

.small_text{
 font-size: 11px;
 margin: 5px 0 5px 5px; 
 color: #fff;
}

/* Zu bearbeiten */
textarea{
 margin: 0 auto;
}

#inhalt{
display: inline-block;
max-width: 440px;
min-height: 400px;
border: 1px solid #000;
float: left;
width:  459px;
}

#bild{
display: inline-block;
min-width: 28px;
min-height: 400px;
border: 1px solid #000;
background: url('../img/Fernando-pessoa1.jpg') center no-repeat;
float: left;
margin: 0 0 0 10px;
}

#weitere_infos{
 width: 640px; 
 height: 100px; 
 margin: 10px auto;
}

#weitere_infos_div{
 width: 640px; 
 height: 100px; 
 border: 1px solid #000;
 margin: 10px auto;
}

#zusatz{
 width: 400px; 
 border: 1px solid #000;
 margin: 10px auto;
 font-size: 15px;
 text-align: center; 
 padding: 20px 0;
}

#b-inhalt{
 margin: 10px 0 0 50px;
}

.filtergruppe{
display: inline-block;
border-right: 1px solid #000;
padding: 0 5px; 
}

.bolt{
    font-weight: bold;
	padding: 0 5px;
  }

#wInfo{
   padding: 5px;
  }

#filter{
 width: 1021px;
 max-height: 30px;
 padding: 10px 30px 25px 30px;
 background: #990000; 
 color:#fff;
}

.filter{
 width: 80px;
 padding: 2px 3px; 
 margin: 2px 3px; 
}

.filter-a{
    margin: 0 auto; 
    padding: 3px 10px;
}

#filter-nav-a{
 float: right; 
 font-size: 15px;
 display: block; 
 height: 20px; 
}

#td-1, #td-2, #td-3, #td-4, #td-5, #td-6, #td-7, #td-8, #td-9{
width : 50px;
height: 100px; 
display: inline-block;
float:left;
border : 1px solid black;
}

/* Document / Publication Styles */
.text .label{
   display: inline-block;
   padding: 0;
   font-size: inherit;
   font-weight: inherit;
   line-height: inherit;
   color: inherit;
   vertical-align: inherit;
   white-space: inherit;
   text-shadow: inherit;
   background-color: inherit;
}

/*Tabs Style*/

ul#tabs{
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-right: 15px;
    color: #08298A !important;
}
ul#tabs a{
        color: #08298A;
    }
    ul#tabs li{
        display: inline-block;
        padding: 0 5px; 
    }    
    ul#tabs span{
        display: inline-block;
        background-color: #5c5859;
        padding: 3px 12px;
        margin-bottom: 4px;
        cursor: pointer;
          color: #fff;
    }
        ul#tabs span:hover{
            background-color: #900;   
        }
        ul#tabs span.active{
          
        }
    
    
ul#tab{
    list-style-type: none;
    padding: 5px;
    float: left;
}
    ul#tab a{
        color: #08298A;
    }
    ul#tab li{
        display: none;
    }
        ul#tab li.active{
            display: block;
        }

/* Index / FacsimilieTabs*/
ul#indextabs{
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0 0 0 12px;
}
    ul#indextabs li{
        display: inline-block;
    }    
    ul#indextabs span{
        display: inline-block;
        background-color: #5c5859;
        padding: 3px 12px;
        margin-bottom: 4px;
        cursor: pointer;
        color: #fff;
    }
        ul#indextabs span:hover{
            background-color: #900;   
        }
        ul#indextabs span.active{
          
        }
    
ul#indextab{
    list-style-type: none;
    padding: 5px;
    float: left;
}
    ul#indextab a{
        color: #222;
    }
    ul#indextab li{
        display: none;
    }
        ul#indextab li.active{
            display: block;
        }


#genreList a{
    color: #08298A;
    display: inline-block;
} 

.doctabelcontent{
    display: inline-block;
    margin: 10px 18px;
    min-width: 164px;
}
.doctabelcontent:hover{
    text-decoration: none !important;
}

/* Search Button*/

#search{
    margin: 0 0 0 5px; 
}

#button2{
    width: 125px; 
    height: 25px;
    display: block; 
    margin: 0 0 0 5px; 
}

#searchfield{
    width:824px;
    margin: -10px auto 0 auto;
}

.container-4{
            overflow: hidden;
            width: 150px;
            background: #990000; 
            float: right; 
            padding: 5px;
            position:absolute;
            z-index:1;
            margin: -10px 0 0 674px;
            border: 1px solid #000; 
            border-top: none;
            }    
            .container-4 input#search{
                width: 125px;
                height: 32px;
                background: #fff;
                font-size: 10pt;
                color: #000;                
              }
            
            .container-4 input#search::-webkit-input-placeholder{color: black;}
            .container-4 input#search:-moz-placeholder{color: #65737e;}/* Firefox 18- */
            .container-4 input#search::-moz-placeholder{color: #65737e;}/* Firefox 19+ */
            .container-4 input#search:-ms-input-placeholder {color: black;}
          
/* Search Button End*/

 .search_filter{
    width:21%;
    margin: 5px 0 10px 140px;
    border-right: 1px solid #000; 
    border-top: 1px solid #000;
    display: inline-block;
    float: left; 
                }
                
.search_resultList{
    width:50%;
    display: inline-block;
    float:left;
    margin: 5px;
    border-top: 1px solid #000; 
    }
    .search_resultList a{
        color:#fff;
    }
                
.tab{
    background-color:#990000; 
    color: #fff; 
    border:solid 0.5px;
    width: 120px;
    margin: 15px auto 0 auto; 
    cursor:pointer;
    }                
    .tab:hover{
        background-color:#222; 
    }

.selection{
    background-color:#990000;
    border:solid 0.5px;
    visibility:hidden;
    display:none;
    color: #222; 
    width:180px;
    margin: 0 14px 23px auto;
    padding: 1px 5px; 
    }
                .date-field{
                    width: 135px;
                    height: 34px;
                    margin: 2px 17px;
                }
                .role_input-box, .release_input-box, .lang_input-box{
                    margin-left:5px !important;
                }
                .role_input-label, .release_input-label, .lang_input-label{
                    color: #fff !important; 
                }
                
#spezsearch{
    width: 178px;
    margin-left: 14px;
}

#spezsearchbutton{
    margin-left: 55px;
}
                                
.selectsearch{
    margin: 10px 0 0 5px; 
    height: 100px !important;
}
      
#result{
    text-align: left; 
    margin-top: 30px; 
    margin-left: 20px; 
}

#result a{
    color: #08298A !important;
}

.link{
    color: #990000 !important;    
    font-weight: normal !important; 
    cursor:pointer;
}

#headline{
    margin: 0 auto;
    display:block;
    width:100%;
 }

#lang{
    margin: 30px 10px 0 0; 
    float:right;
    display:block;
    color:#990000;  
}

#article{
    border: 3px solid #990000;
    min-height: 300px;  
}

#text-div, #img-div{
  display:inline-block;
  /*margin: 0 5px 0 2.5px;*/
  margin: 15px 0 15px 15px
}

#text-div{
    width: 55%; 
    min-height: 760px;
    border-right: 3px dotted #222 !important;
}

#img-div{
    width: 40%;
    min-height: 100px;
    float:right;
}

#image-div
{
  margin: 15px 0 15px 15px;
  display:inline-block;
  width: 40%;
  min-height: 100px;
  float:right;
}

#scrollline{
     margin:0;
 }
 
 /* Content Darstellung */
 
#titleline{
     background-color:#990000;
     color: #fff;
     max-width:300px;
     display:block;
     margin:15px auto 0 auto;
     padding: 4px 0;
 }
 
#titledate{
     font-size:12pt;
     font-style: italic; 
     text-align: center; 
     margin: 7px 0 0 0;
 }
 
#back{
     float: left;
     margin-left:5px;
 }
 
#forward{
     float: right;
     margin-right:5px;
 }
 
#back,#forward{
    display: inline-block;
    background-color: #A8A8A8;
    padding: 5px 20px;
    margin-bottom: 4px;
    margin-top: 4px;
    cursor: pointer;     
    width: 100px;
    text-align:center;
    
    }   
    #back:hover, #forward:hover{
            background-color: #900;
    }


#genre-content{
     width: 824px; 
     margin: 0 auto;
}

#date, #alphab{
    margin-left: 5px !important; 
}

/* Footer  Temporär Auskommentiert*/
/*
#footer
{
    z-index:1;
    width: 1267px; 
    height: 80px; 
    background: #5c5859; 
    margin:0px auto;
}
*/

/* Sandbox - Der Ort zum experimentieren*/


#path
{
    width: 210px; 
    float: left; 
}

#search-link{
    cursor: pointer; 
}

#lorem{
  width: 824px;
  margin: 0 auto 0 103px;
}

.metamark{
 cursor: text !important; 
}

li.tabs.active span {
           background-color: #990000  !important;
            }
            
            
li.itabs.active span {
           background-color: #990000  !important;
            }

#img-div a
{
    color: #08298A !important;
}

.sub_Nav 
{
    width: 817px !important; 
    padding: 3px 0; 
    color: #fff !important;
    background-color: #990000;
    margin: 15px 0;   
    height: 26px;
}

.bibl 
{
    margin: 12px 0; 
}

.bibl a
{
    color: #08298A; 
}

.navigation
{
   text-align: center;
    margin: 8px 0; 
}

.step {
    color:white;
    margin-right:5px;
}

/* ######### NAVI ACTIVE STYLE ##########*/
#navi_elements li.active a {
            text-decoration:underline !important;
            font-weight:bold !important;
            };#charttable
{
    border: 1px solid #f00; 
    margin: 0 auto; 
}

.navbar
{
    min-height: 42px !important; 
}
#charttable
{
    border: 1px solid #f00; 
    margin: 0 auto; 
}
/* ######### NAVI ACTIVE STYLE ##########*/
#navi_elements li.active a {
            text-decoration:underline !important;
            font-weight:bold !important;
            };

.navbar
{
    min-height: 42px !important; 
}



/*Für die Buchstaben/Zahlen Navi 
  text-align: center;
  margin-top: -8px;
  margin-bottom: 8px
*/

/*Tempörärer Mülleimer*/
/*

*/