/* Application styles could go here */

body {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 15px;
}
body > div.container {
    max-width: 70%;
}
#content.container {
    width: 100%;
    margin-bottom: 50px;
}
h1 {
    font-size: 18pt;
}
h2 {
    font-size: 12pt;
    line-height: 20px;
    margin-bottom: 5px;
    margin-top: 15px;
}
p {
    font-size: 15px;
}
.page-header {
    border-bottom: 1px solid #999999;
}
.page-header a {
    text-decoration: none;
    color: black;
}
.navbar-inner {
    background-color: #FFFFFF;
    background-image: none;
    border-bottom: 1px solid #999999;
    box-shadow: none;
    border-radius: 0px;
}
.navbar .nav {
    margin-left: 0;
}
.navbar .nav > li > a {
    text-shadow: none;
    font-size: 15px;
    color: #666666;
}
.navbar .nav > li > a:hover {
    color: #336633;
}
.dropdown.open .dropdown-toggle {
    color: #666666;
}
.dropdown-submenu {
    white-space: nowrap;
}
#content.main {
    padding-top: 20px;
}
.vl {
    border-left: 1px dotted #999999;
}
.lg {
    margin-bottom: 15px;
}
#content li {
    margin: 5px 0;
}