<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title class="config:app-title">App Title</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css' />
        <meta class="config:app-meta" />
        <link class="helpers:app-root" rel="shortcut icon" href="resources/images/favicon.ico" />
        <link class="helpers:app-root" rel="stylesheet" type="text/css"
            href="resources/css/bootstrap.min.css" />
        <link class="helpers:app-root" rel="stylesheet" type="text/css"
            href="resources/css/style.css" />
        <script class="helpers:app-root" type="text/javascript" src="resources/js/jquery-1.11.2.js"></script>
        <script class="helpers:app-root" type="text/javascript" src="resources/js/bootstrap.min.js"></script>
        <script class="helpers:app-root" type="text/javascript" src="resources/js/code.js"></script>
       <!--
        <script class="helpers:app-root" type="text/javascript" src="resources/js/jquery-1.7.1.min.js"></script>
        <script class="helpers:app-root" type="text/javascript" src="resources/js/loadsource.js"></script> -->
        <!-- Add mousewheel plugin (this is optional) 
        <script class="helpers:app-root" type="text/javascript" src="resources/js/jquery.mousewheel-3.0.6.pack.js"></script>-->
        <link class="helpers:app-root" rel="stylesheet"
            href="resources/css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
        <script class="helpers:app-root" type="text/javascript" src="resources/js/jquery.fancybox.pack.js?v=2.1.5"></script>

        <link class="helpers:app-root" rel="stylesheet" href="resources/css/style.css" type="text/css" />
        <script class="helpers:app-root" type="text/javascript" src="resources/js/chart/Chart.js"></script>
     <!-- 
         <script class="helpers:app-root" type="text/javascript" src="resources/js/jquery.js"></script>
        <script class="helpers:app-root" type="text/javascript" src="resources/js/jquery-ui.js"></script>
        -->
        
       <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
        
        <!-- <script type="text/javascript">
         $(function() {
      $( "#tabs" ).tabs();
  });
  </script> -->
        <script type="text/javascript">
        $(document).ready(function(){
        $("ul#tabs li").click(function(e){
        if (!$(this).hasClass("active")) {
        var tabNum = $(this).index();
        var nthChild = tabNum+1;
        $("ul#tabs li.active").removeClass("active");
        $(this).addClass("active");
        $("ul#tab li.active").removeClass("active");
        $("ul#tab li:nth-child("+nthChild+")").addClass("active");
        }
        });
        });
        
       
         
        </script>
        <!--<script type="text/javascript">
           	$(document).ready(function() {
           		$(".fancybox").fancybox();
           		
            });
            
    </script> -->
        
        <style  type="text/css">
         
            
        </style>
    </head>
    <body id="body">
        <div id="side">
            <div id="headline">
                <div id="title">
                     <h1>
                         <a style="color=white;" id="title-tool2" class="helpers:app-root " href="index.html">
                            <span id="title-tool" class="config:app-title">Generated page</span>
                        </a>
                     </h1>   
                </div>
                <div id="lang">
                    <a class="link" onclick="switchlang('en')">English</a>|<a class="link" onclick="switchlang('pt')">Portuguese</a>
                </div>         
                <div class="clear"></div>
            </div>
                <div id="page-header" style="background: url('resources/images/pessoa-title.png');" class="helpers:app-root"></div>  
            
            <script class="search:search-function" />
            
            <div id="navi" class="page:construct"></div>
            <div id="searchfield" class="page:construct_search" ></div>
            <div id="content" class="container"></div>
            <div id="footer">
                <a href="#">informação legal</a>
            </div>
        </div>
    </body>
</html>
