l/* Application styles could go here */

/* Basics */

*{ 
 font-family: 'Open Sans', sans-serif;  
}

html{
    background-color: #fff; 
}

body{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 15px;
    background-color: #B7B7B7;
}

.logos {
    max-height:50px;
    margin-right: 30px;
    margin-top: 20px;
}

p{
    font-size: 15px;
}

body > div.container{
    max-width: 70%;
}

#content.container{
    width: 1360px; /* war 1230 */
    margin: 12px auto;
}

h1{
    text-align: center;
    font-size: 29px; 
} 

h2{
    font-size: 17pt;
    line-height: 20px;
    margin: 0 auto 22px auto;
    text-align: center; 
}

h5
{
    text-align: center; 
    font-size: 16px; 
}

h6{
    font-size:15px;
    text-align: center; 
    padding: 5px 0;
    margin: 0;
}


label{
    display:inline;
    font-weight: 100 !important;
}

.clear{
    clear:both;
}

/* Unbekannt*/

.ScrollToTop {
    background: #990000 none repeat scroll 0 0;
    color: #ffffff;
    cursor: pointer;
    display: block;
    float: right;
    font-weight: bold;
    height: 40px !important;
    padding: 10px;
    position: fixed;
    right: 30px;
    text-align: center;
    text-decoration: none;
    bottom: 90px;
     width: 40px !important;
    display:none;
}

.ScrollToTop:hover {
    background:#4e4e4e !important;
}

#titletool{
    color: #F5F5F5;
    font-size : 25px;
}
/* Header */

#page-header{
    margin: 0 auto; 
    width: 90%; 
    z-index:0;
    max-width:1600px;
    text-align: center;
}
    #page-header a{
        text-decoration: none;
        color: #000;
    }

.header-image{
    max-width:800px;
    width: 48%;    
    z-index:0;
    display: inline-block;
}

.dropdown.open .dropdown-toggle{
    color: #666;
}

.dropdown-submenu{
    white-space: nowrap;
}

#headline{
 margin: 0 auto;
 display:block;
 width:100%;
 }

#title{            
 width: 530px; /* war 510, aber dann brach die Zeile um */
 height: 95px; 
 background: #990000; 
 margin: 0 0 0 30px; 
 padding: 5px 10px; 
 z-index:1;
 position:absolute;
}

#title h1 {
    margin-top:10px;
}
.highlight {
    text-decoration:underline;
}
/* Content */

#content
{
 width: 1025px; 
 margin: 0 auto; 
}

#content.main{
    padding-top: 20px;
    margin: 0 auto; 

}

.content #doc, .content #pub {
    margin: 0 auto;
    width: 1125px;
    
}


#content li{
    margin: 5px 0;
}

#side{
 background-color: #fff !important;
 margin: 0 auto;
}

/* MATCH HIGHLIGTING */
.hi{
    background-color: #bbbbbb;
    display: inline-block;
}

/* Extended Style*/

/* Navigation */

.mainNavTab
{
    cursor: pointer; 
}

#navi{
 width: 824px; 
 margin: -30px auto 0;
 font-size: 16px;
 border:0px solid #888;
 background: #990000;
 z-index:1;
 position: relative;
}

.nav-cont{
list-style: none; 
display: inline-block;
}
    .nav-cont li{
     display: inline-block;
     padding: 0 10px;
     font-size: 15px;
    }

#navi_elements{
        padding:0px 0px 7px 9px;    
        z-index:1;          
}
    #navi_elements li{
        color: #fff; 
        display: inline-block;
        padding: 16px 10px 6px 9px;
        font-size: 16px; 
    }
    
/*Details der Navi*/

.nav_tabs{
    background-color: #222;
    text-decoration:none;
    color: #fff; 
    cursor: pointer; 
}

.nav_sub_tabs{
    list-style:none;
    color: #fff !important; 
    cursor: pointer; 
}
    .nav_sub_tabs a{
        text-decoration: none;
    }
    .nav_sub_tabs:hover a{
        text-decoration: none;
    }

#nav_autores, #nav_documentos, #nav_publicacoes,#nav_obras, #nav_genero, #nav_cronologia, #nav_index, #nav_projeto{
     margin:0 auto;
    }
    
.nav_autores_tab, .nav_documentos_tab, .nav_publicacoes_tab, .nav_obras_tab, .nav_genero_tab, .nav_cronologia_tab, .nav_index_tab, .nav_projeto_tab{
    display:inline-block;    
    }
    .nav_autores_tab, .nav_publicacoes_tab{
        padding: 3px 25px;    
    }
    .nav_documentos_tab {
       padding: 3px 12px;
    }  
    .nav_obras_tab {
        padding:4px 28px;
    }
    .nav_genero_tab {
        padding: 3px 35px;
    }    
    .nav_cronologia_tab {
           padding: 3px 20px;
    }    
    .nav_index_tab {
        padding: 8px 12px;
    }    
    .nav_projeto_tab{
        padding: 6px 37px;
    }

.nav_documentos_sub_tab, .nav_cronologia_sub_tab, .nav_cronologia_sub_ext_tab, .nav_obras_sub_tab,.nav_publicacoes_sub_tab, .nav_bibliografia_sub_tab, #nav_searchButton{
        text-decoration:none;
        display:inline-block;
        margin: 3px 5px; 
        padding: 5px; 
        background: #222; 
        min-width: 95px;
        text-align: center;
    }
    .nav_cronologia_sub_tab{
        min-width: 65px !important;
        margin: 3px 4px !important;
    }
    .nav_publicacoes_sub_tab
    {
       margin: 5px 21px 3px 5px !important;  
    }
    .nav_documentos_sub_tab:hover, .nav_cronologia_sub_tab:hover, .nav_cronologia_sub_ext_tab:hover, .nav_obras_sub_tab:hover, .nav_publicacoes_sub_tab:hover, .nav_bibliografia_sub_tab:hover, #nav_searchButton:hover{
            background-color: #4E4E4E;
            text-decoration:none;
    }
    .nav_documents_sub_tab a, .nav_cronologia_sub_tab a, .nav_cronologia_sub_ext_tab a{
                text-decoration:none;
    }
    .nav_documents_sub_tab:hover a, .nav_cronologia_sub_tab:hover a, .nav_cronologia_sub_ext_tab:hover a{
                text-decoration:none;
    }
.nav_documentos_tab:hover, .nav_autores_tab:hover, .nav_documentos_tab:hover, .nav_publicacoes_tab:hover, .nav_obras_tab:hover, .nav_genero_tab:hover, .nav_cronologia_tab:hover, .nav_index_tab:hover, .nav_projeto_tab:hover {
    background-color: #4E4E4E  !important;
    text-decoration:none;
    }

/* Search */

.small_text{
 font-size: 11px;
 margin: 7px 0 0 6px; 
 color: #fff;
 line-height: 1.2em;
}

#nav_searchButton {
    color: #FFF;
    margin-left: 6px;
    margin-top: 0;
    width: 90%;
    cursor: pointer;
    font-size: 11pt;
}
/* Zu bearbeiten */
textarea{
 margin: 0 auto;
}

#inhalt{
display: inline-block;
max-width: 440px;
min-height: 400px;
border: 1px solid #000;
float: left;
width:  459px;
}

#bild{
display: inline-block;
min-width: 28px;
min-height: 400px;
border: 1px solid #000;
background: url('../img/Fernando-pessoa1.jpg') center no-repeat;
float: left;
margin: 0 0 0 10px;
}

#weitere_infos{
 width: 640px; 
 height: 100px; 
 margin: 10px auto;
}

#weitere_infos_div{
 width: 640px; 
 height: 100px; 
 border: 1px solid #000;
 margin: 10px auto;
}

#zusatz{
 width: 400px; 
 border: 1px solid #000;
 margin: 10px auto;
 font-size: 15px;
 text-align: center; 
 padding: 20px 0;
}

#b-inhalt{
 margin: 10px 0 0 50px;
}

.filtergruppe{
display: inline-block;
border-right: 1px solid #000;
padding: 0 5px; 
}

.bolt{
    font-weight: bold;
	padding: 0 5px;
  }

#wInfo{
   padding: 5px;
  }

#filter{

 max-height: 30px;
 padding: 10px 30px 25px 30px;
 background: #990000; 
 color:#fff;
 cursor:pointer;
}

.filter{
 width: 80px;
 padding: 2px 3px; 
 margin: 2px 3px; 
}

.filter-a{
    margin: 0 auto; 
    padding: 3px 10px;
}

#filter-nav-a{
 float: right; 
 font-size: 15px;
 display: block; 
 height: 20px; 
}

#td-1, #td-2, #td-3, #td-4, #td-5, #td-6, #td-7, #td-8, #td-9{
width : 50px;
height: 100px; 
display: inline-block;
float:left;
border : 1px solid black;
}

/* Document / Publication Styles */
.text .label{
   display: inline-block;
   padding: 0;
   font-size: inherit;
   font-weight: inherit;
   line-height: inherit;
   color: inherit;
   vertical-align: inherit;
   white-space: inherit;
   text-shadow: inherit;
   background-color: inherit;
}


#openseadragon1 {
    border: 1px dotted;
    height: 600px;
    padding: 1px;
    width: 500px;
}

/*Tabs Style*/

ul#tabs{
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-right: 15px;
    color: #08298A !important;
    
}
ul#tabs a{
        color: #08298A;
    }
    ul#tabs li{
        display: inline-block;
        padding: 0 5px; 
    }    
    ul#tabs span{
        display: inline-block;
        background-color: #5c5859;
        padding: 3px 12px;
        margin-bottom: 4px;
        cursor: pointer;
          color: #fff;
    }
        ul#tabs span:hover{
            background-color: #900;   
        }
        ul#tabs span.selected{
          
        }
      
ul#tab{
    list-style-type: none;
    padding: 5px;
    float: left;
    width:100%;
}
    ul#tab a{
        color: #08298A;
    }
    ul#tab li{
        display: none;
    }
        ul#tab li.selected{
            display: block;
        }

/* Index / FacsimilieTabs*/
ul#indextabs{
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0 0 0 12px;
}
    ul#indextabs li{
        display: inline-block;
    }    
    ul#indextabs span{
        display: inline-block;
        background-color: #5c5859;
        padding: 3px 12px;
        margin-bottom: 4px;
        cursor: pointer;
        color: #fff;
    }
        ul#indextabs span:hover{
            background-color: #900;   
        }
        ul#indextabs span.active{
          
        }
    
ul#indextab{
    list-style-type: none;
    padding: 5px;
    float: left;
}
    ul#indextab a{
        color: #222;
    }
    ul#indextab li{
        display: none;
    }
        ul#indextab li.selected{
            display: block;
        }


#genreList a{
    color: #08298A;
    display: inline-block;
} 

.doctabelcontent{
    display: inline-block;
    margin: 10px 18px;
    min-width: 164px;
}
.doctabelcontent:hover{
    text-decoration: none !important;
}

.doctabelcontent a {
    color: #08298a;
}
.doctabelcontent i {
font-size: 14px;
}
.authorlink {
    color: #08298a;
}
/* Search Button*/

#search{
    margin: 0 0 0 5px; 
}

#button2{
    width: 125px; 
    height: 25px;
    display: block; 
    margin: 0 0 0 5px; 
}

#searchfield{
    width:824px;
    margin: -10px auto 0 auto;
}

.container-4{
            overflow: hidden;
            width: 150px;
            background: #990000; 
            float: right; 
            padding: 5px;
            position:absolute;
            z-index:1;
            margin: -10px 0 0 674px;
            border: 1px solid #000; 
            border-top: none;
            }    
            .container-4 input#search{
                width: 125px;
                height: 32px;
                background: #fff;
                font-size: 10pt;
                color: #000;                
              }
            
            .container-4 input#search::-webkit-input-placeholder{color: black;}
            .container-4 input#search:-moz-placeholder{color: #65737e;}/* Firefox 18- */
            .container-4 input#search::-moz-placeholder{color: #65737e;}/* Firefox 19+ */
            .container-4 input#search:-ms-input-placeholder {color: black;}
          
/* Search Button End*/

.search_filter{
    width:21%;
    margin: 5px 0 10px 140px;
    /* border-right: 1px solid #000; */
    display: inline-block;
    float: left; 
}       
.search_resultList{
    width:50%;
    display: inline-block;
    float:left;
    margin: 10px 30px;   
}
.search_resultList a{
    color:#fff;
}
                
.tab{
    background-color:#990000; 
    color: #fff;
    /*border:solid 0.5px;*/
    width: 120px;
    margin: 15px auto 0 auto; 
    cursor:pointer;
    }                
.tab:hover{
    background-color:#222; 
}

.selection{
    background-color:#990000;
    /*border:solid 0.5px;*/
    display:none;
    color: #222; 
    width:180px;
    margin: 0 14px 23px auto;
    padding: 7px; 
    }
.date_field{
    width: 135px;
    height: 34px;
    margin: 2px 17px;
}
input[type="checkbox"].role_input-box, input[type="radio"].role_input-box,
input[type="checkbox"].release_input-box, input[type="radio"].release_input-box,
input[type="checkbox"].lang_input-box, input[type="radio"].lang_input-box {
    margin-left: 5px;
    margin-right: 3px;
    vertical-align: top;
    margin-top: 5px;
}
.role_input-label, .release_input-label, .lang_input-label{
    color: #fff !important; 
}
                
#spezsearch{
    width: 178px;
    margin-left: 14px;
}

#spezsearchbutton{
    margin-left: 55px;
}
                                
.selectsearch{
    margin: 10px 0 0 5px; 
    height: 100px !important;
}
      
#result{
    text-align: left; 
    margin-top: 20px; 
    margin-left: 0px; 
    list-style: none;
}

#result a{
    color: #08298A !important;
}

.link{
    color: #990000 !important;    
    font-weight: normal !important; 
    cursor:pointer;
}

#headline{
    margin: 0 auto;
    display:block;
    width:100%;
 }

#lang{
    margin: 30px 10px 0 0; 
    float:right;
    display:block;
    color:#990000;  
}

#article{
    border: 3px solid #990000;
    min-height: 300px;  
}

#text-div, #img-div{
  display:inline-block;
  /*margin: 0 5px 0 2.5px;*/
  margin: 15px 0 15px 15px
}

#text-div{
    width: 50%; 
    border-right: 3px dotted #222 !important;
}

#img-div{
    width: 45%;
    min-height: 100px;
    float:right;
}
#img-div a{
    color: #08298A !important;
}

#image-div{
  margin: 15px 0 15px 15px;
  display:inline-block;
  width: 45%;
  min-height: 100px;
  float:right;
}

#scrollline{
     margin:0;
 }
 
 /* Content Darstellung */
 
#titleline{
     background-color:#990000;
     color: #fff;
     max-width:400px;
     display:block;
     margin:15px auto 0 auto;
     padding: 4px 0;
 }
 
#titleline h2 {
    padding: 5px 10px;
}

#titledate{
     font-size:12pt;
     font-style: italic; 
     text-align: center; 
     margin: 7px 0 0 0;
 }
 
#back{
     float: left;
     margin-left:5px;
 }
 
#forward{
     float: right;
     margin-right:5px;
 }
 
#back,#forward{
    display: inline-block;
    background-color: #A8A8A8;
    padding: 5px 20px;
    margin: 4px 0; 
    cursor: pointer;     
    width: 100px;
    text-align:center;
    }   
    #back:hover, #forward:hover{
            background-color: #900;
    }


#genre-content, #persons-content, #texts-content, #obras-content  {
     width: 824px; 
     margin: 0 auto;
}

#date, #alphab{
    margin-left: 5px !important;
    height: 17px;
    vertical-align: top;
    margin-right: 2px;
}

/* Footer  Temporär Auskommentiert*/
/*
#footer
{
    z-index:1;
    width: 1267px; 
    height: 80px; 
    background: #5c5859; 
    margin:0px auto;
}
*/

/* Sandbox - Der Ort zum experimentieren*/


#path{
    width: 210px; 
    float: left; 
}

#search-link{
    cursor: pointer; 
}

#lorem{
  width: 824px;
  margin: 0 auto 0 103px;
}

.metamark{
 cursor: text !important; 
}

li.tabs.selected span{
           background-color: #990000  !important;
            }            
li.itabs.selected span{
           background-color: #990000  !important;
            }

.sub_Nav{
    width: 817px !important; 
    padding: 3px 0; 
    color: #fff !important;
    background-color: #990000;
    margin: 15px 0;   
    height: 26px;
}

.bibl{
    margin: 12px 0; 
}
    .bibl a{
        color: #08298A; 
    }

.navigation{
   text-align: center;
    margin: 8px 0; 
}

.step{
    color:#fff;
    margin-right:5px;
}

.titleline_additional {
    font-style:italic !important;
    text-align:center !important;
    }

/* ######### NAVI ACTIVE STYLE ##########*/
#navi_elements li.active, .nav_documentos_tab.active, #navi_elements li.active a{
            text-decoration:underline !important;
            }
.nav_documentos_tab.active{
   background-color: #4E4E4E !important;
}
.nav_publicacoes_tab.active{
  background-color: #4E4E4E !important;  
}
.nav_cronologia_tab.active{
  background-color: #4E4E4E !important;    
}
#navi_elements li.active a{
            font-weight:bold !important;
            }
.nav_cronologia_sub_tab.active {
 background-color: #4E4E4E !important;    
}           

.nav_index_tab.active {
     background-color: #4E4E4E !important;    

}

.navbar{
    min-height: 42px !important; 
    margin-bottom: 10px; 
}

.editorial-note{
    /*margin-top: 20px*/; 
    border: 1px solid;
    margin-right: 10px;
    padding: 10px;
    width: 450px;
}

.search_your_list {
    display: list-item;
    float: left;
    margin-left: 2px;
    min-width: 49%;
    display:inline-block;
}

.nota {
    border:solid 1px;
    display:block;
    padding-left: 10px;
    padding-right: 10px;
    width: 55px;
    color:white;
            background-color: #5c5859;
            cursor:pointer;

}
.nota:hover{
            background-color: #990000 !important;
}

.nota.selected {
    border:solid 1px;
    
}


#nota_bottom.selected {
    border-top:none;
}

#nota_top {
    margin-top:20px;
}

#nota_top.selected {
    border-bottom:none;
}

.search_your_div {    
}

.search_your_listdiv {
}

#resultados {
   text-align:left !important; 
   margin: 40px 0 0 0;
}

#dialog {
    background-color: white;
    margin-left: 70px;
    margin-top: -47px;
    padding: 5px;
    position: absolute;
    width: auto;
    
}


.pLink {
                color: #08298A !important;
                text-decoration:none;
                cursor:pointer;
                }
.pLink:hover {
                text-decoration:underline;
                color: #08298A !important;
                }
                
.OrderForm {
    text-align:center;
} 
.search_resultList .OrderForm {
    text-align: left;
    margin: 10px 0;
}

.emptyTab {
    display:none;
}

/*Tempörärer Mülleimer*/
/*
#title-tool2{
    color: #fff;
}
.navbar{
    min-height: 42px !important; 
}
#charttable{
    border: 1px solid #f00; 
    margin: 0 auto; 
}
*/
#title-sub {
    font-size:20px;
}
.DivPessoal {
    float: left;
    display:block;
    width:40%;
}
.DivPessoa input {
    margin-right: 3px;
    vertical-align: top;
}
#DivPessoal-1 {

}
#DivPessoal-2 {
    margin-left:10px;
}
#DottedLine {
    width:100%;
    padding:5px;
    border-bottom: 1px dotted #222;
    margin-bottom: 20px;
}

#index-img-head{
    padding-left: 250px;
}

/* STYLES FÜR DIE XSLT-TRANSFORMATION DER DOKUMENTE */
div.text {
    line-height: 1.8em;
    position: relative;
    padding-left: 4em;
    padding-right: 0.5em;
}
div.text h2 {
    text-align: left;
    margin: 22px auto 22px auto;
}
div.text h2.center {
    text-align: center;
}
div.text h2.inline {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    margin-right: 1em;
}
div.text table {
    margin-left: 1em;
}
div.text table.center {
    margin: 0px auto;
}
div.text table.inline {
    display: inline-block;
}
div.text table td.center {
    text-align: center;
}
div.text table td.right {
    text-align: right;
}
div.text table td {
    vertical-align: top;
    padding-right: 2em;
}
div.text div.list {
    margin: 1em 0;
    padding-left: 1.5em;
}
div.text p {
    padding-left: 1.1em;
    margin: 1em 0;
}
div.text > p {
    margin: 1em 0;
    padding-left: 0;
}
div.text div.list.inline, div.text div.list div.list.inline {
    display: inline-block;
    margin-top: 0;
    margin-left: 0;
    max-width: 90%;
}
div.text div.list.inline div.item:first-child {
    margin-top: 0;
}
div.text span.label.inline {
    display: inline-block;
    vertical-align: top;
}
div.text div.list div.list {
    margin-left: 2em;
}
div.text div.item {
    margin: 0.5em 0;
    position: relative;
    text-indent: -1.5em;
}
div.text div.item * {
    vertical-align: top;
}
div.text div.item.indent-2-label {
    text-indent: -1em;
    padding-left: 2em;
}
div.text div.item.indent-2 {
    text-indent: -3.5em;
    padding-left: 2em;
}
div.text div.item span.label {
    display: inline-block;
    min-width: 2em;
    text-align: right;
    text-indent: 0;
}
div.text p.indent-2 {
    text-indent: -2em;
    padding-left: 2em;
}
div.text div.item.indent-2 *, div.text div.item.indent-2-label * {
    text-indent: 0;
}
div.text span.note.margin-right {
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    padding-left: 2em;
    line-height: normal;
    white-space: nowrap;
    text-indent: 0;
}
div.text div.item span.note.margin-left {
    position: absolute;
    left: -4em;
    line-height: normal;
    white-space: nowrap;
}
div.text > span.note.margin-left {
    display: inline-block;
    text-align: center;
    position: relative;
    left: -4em;
}
div.text div.note.center {
    text-align: center;
}
div.text div.note.center hr {
    margin: 1em auto;
    text-align: center;
}
div.text span.grouping-right, div.text span.grouping-left {
    font-weight: lighter;
    vertical-align: middle;
    color: #888888;
    position: absolute;
    right: -50px;
}
div.text span.grouping-right .label, div.text span.grouping-left .label {
    font-size: 15px;
    font-weight: normal;
    color: #000000;
    display: inline-block;
    vertical-align: middle;
}
div.text span.metamark.quotes.ditto {
    display: inline-block;
    width: 15%;
    text-align: center;
}
div.text span.label.rotate-right {
    transform: rotate(90deg);
    position: relative;
    top: 30%;
    left: 30%;
}
div.text span.underline {
    text-decoration: underline;
}
div.text span.italic, div.editorial-note span.italic {
    font-style: italic;
}
div.text span.choice {
    position: relative;
}
div.text span.anchor {
    position: relative;
}
div.text span.above {
    position: absolute;
    font-size: smaller;
    top: -1.5em;
}
div.text span.below {
    position: absolute;
    font-size: smaller;
    bottom: -1.1em;
    left: 0;
}
div.text span.supplied {
    bottom: 1px;
    position: relative;
}
div.text span.deletion.overstrike, div.text span.deletion.overtyped {
    text-decoration: line-through;
}
div.text td.line-vertical {
    border-left: 1px solid #000000;
}
div.text hr.line {
    border-color: #000000; 
    text-align: left; 
    margin: 1em auto 1em 0;
}
div.text hr.line-14 {
    width: 25%;
}
div.text hr.line-24 {
    width: 50%;
}
div.text hr.line-34 {
    width: 75%;
}
div.text hr.line-44 {
    width: 100%;
}
div.text hr.line-14.inline, div.text hr.line-24.inline, div.text hr.line-34.inline, div.text hr.line-44.inline {
    display: inline-block;
    margin: 0 0.5em 0.25em 0;
}