


/* ########################## ab hier Darstellung der Dokument- und Publikationsinhalte ############################# */

/* STYLES FOR THE XSLT TRANSFORMATION OF DOCUMENTS */
div.text {
    line-height: 1.8em;
    position: relative;
    padding-left: 4em;
    padding-right: 0.5em;
}
div.text h2 {
    text-align: left;
    margin: 22px auto 22px auto;
}
div.text h2.center {
    text-align: center;
    line-height: 1em;
}
div.text h2.right {
    text-align: right;
}
div.text h2.inline {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    margin-right: 1em;
}
div.text h2.center span.below {
    display: inline-block;
    width: 100%;
    font-size: small;
}
div.text table.float-table {
    width: 100%;
}
div.text table {
    margin-left: 0em;
}
div.text table.center {
    margin: 0px auto;
}
div.text table.inline {
    display: inline-block;
}
div.text table td.center {
    text-align: center;
}
div.text table td.right {
    text-align: right;
}
div.text table td {
    vertical-align: top;
    padding-right: 2em;
}
div.text div.list {
    margin: 2em 0;
    padding-left: 0.5em;
    z-index:1;
    position:relative;
}
div.text div.list.indent, div.text table.indent {
    margin-left: 3em;
}
div.text p {
    padding-left: 1.1em;
    margin: 1em 0;
}
div.text > p {
    margin: 1em 0;
    padding-left: 0;
}
div.text > p.indent {
    margin-left: 2em;
}
div.text p.align-right, div#text-div p.align-right, div.text p.right, div#text-div p.right {
    text-align: right;
    padding-right: 2em;
}
div.text div.list.inline, div.text div.list div.list.inline {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    max-width: 90%;
}
div.text div.list.inline div.item:first-child {
    margin-top: 0;
}
div.text div.list.inline div.item.inline{
    display: inline-block;
    margin: 0;
    text-indent: 0;
}
div.text span.label.inline {
    display: inline-block;
    vertical-align: top;
}
div.text .overstrike .label {
    text-decoration: line-through;
}
div.text div.list div.list {
    margin-left: 2em;
}
div.text div.item {
    margin: 0.5em 0;
    position: relative;
    text-indent: 0;
}
div.text div.item > * {
    vertical-align: top;
}
div.text div.item .list.indent {
    margin-top: 0;
    margin-left: 4em;
    margin-bottom: 0;
}
div.text div.item hr {
    /**/
}
div.text div.item hr.inline {
    display: inline-block;
    vertical-align: middle;
}
div.text div.item.indent-2-label {
    text-indent: -1em;
    padding-left: 2em;
}
div.text div.item.indent-2 {
    text-indent: -3em;
    padding-left: 3em;
}
div.text div.item span.label {
    display: inline-block;
    min-width: 2em;
    text-align: center;
    text-indent: 0;
    position: relative;
}
div.text div.item sup {
    vertical-align: middle;
}
div.text p.center {
    text-align: center;
}
div.text p.right {
    text-align: right;
}
div.text p.indent-2 {
    text-indent: -2em;
    padding-left: 2em;
}
div.text p.indent-1 {
    text-indent: 2em;
}
div.text p.indent-first {
    text-indent: 2em;
}
div.text p.indent-13 {
    padding-left: 30%;
}
div.text p.position-center {
    display: inline-block;
    margin: 0 40%;
    white-space: nowrap;
}
div.text .border {
    border: 1px solid black;
    padding: 5px;
}
div.text span.note circled, div.text span.circled {
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px 10px;
    left: 10px;
    position: relative;
}
div.text span.note framed, div.text span.framed {
    border: 1px solid black;
    display: inline-block;
    text-indent: 0;
    padding: 3px;
}
div.text span.label.circled {
    border: 1px solid black;
    border-radius: 20px;
    padding: 0 4px;
    position: relative;
    top: -1px;
}
div.text span.mod.circled {
    border: 1px solid black;
    border-radius: 20px;
    padding: 6px 0px;
    position: relative;
    top: -1px;
}
div.text span.label.framed {
    border: 1px solid black;
    padding: 0 4px;
    position: relative;
    top: -1px;
}
div.text span.mod.framed {
    border: 1px solid black;
    padding: 4px 0;
    position: relative;
    top: -1px;
}
div.text div.item span.mod.framed {
    border: 1px solid black;
    padding: 4px;
    display: inline-block;
}
div.text span.note.margin-right {
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    padding-left: 2em;
    line-height: normal;
    white-space: nowrap;
    text-indent: 0;
    font-size: small;
}
div.text div.list.inline span.note.margin-right {
    right: -100px;
}
div.text div.item span.note.margin-left.range {
    position: absolute;
    left: -6em;
    line-height: normal;
    white-space: nowrap;
    top: 0.3em;
}
div.text div.item span.note.margin-left {
    position: absolute;
    left: -3.5em;
    top: 5px;
    line-height: normal;
    white-space: nowrap;
    text-align: right;
    display: inline-block;
    width: 3em;
}
div.text div.item.indent, div.text div.item.indent-1 {
    text-indent: 3em;
}
div.text > span.note.margin-left {
    display: inline-block;
    text-align: center;
    position: relative;
    left: -4em;
}
div.text span.note.margin-left span.grouping-left {
    right: -0.7em;
}
div.text div.note.center {
    text-align: center;
}
div.text div.note.center hr {
    margin: 1em auto;
    text-align: center;
}
div.text span.grouping-right, div.text span.grouping-left {
    font-weight: lighter;
    vertical-align: middle;
    color: #888888;
    position: absolute;
    right: -100px;
}
div.text span.grouping-right .label, div.text span.grouping-left .label {
    font-size: 15px;
    font-weight: normal;
    color: #000000;
    display: inline-block;
    vertical-align: middle;
}
div.text span.grouping-right.sum {
    position: relative;
    right: 0;
}
div.text div.metamark {
    position: relative;
}
div.text span.metamark.quotes.ditto {
    display: inline-block;
    width: 8%;
    text-align: center;
}
div.text span.label.rotate-right {
    transform: rotate(90deg);
    position: relative;
    top: 30%;
    left: 30%;
}
div.text div.item span.note.margin-left.rotate-right {
    transform: rotate(90deg);
    position: absolute;
    top: 30%;
    left: -20%;
}
div.text span.label.rotate-left {
    transform: rotate(-90deg);
    position: relative;
    top: 30%;
    left: 30%;
}
div.text div.item span.note.rotate-left {
    transform: rotate(-90deg);
    position: relative;
    top: 30%;
    left: 30%;
}
div.text div.metamark span.label.right {
    position: absolute;
    right: 1em;
    top: -1em;
}
div.text span.underline {
    text-decoration: underline;
}
div.text span.italic, div.editorial-note span.italic {
    font-style: italic;
}
div.text span.choice {
    position: relative;
    vertical-align: unset;
}
div.text span.anchor {
    position: relative;
}
div.text span.anchor.invisible {
    visibility: hidden;
}
div.text span.above {
    position: absolute;
    font-size: smaller;
    top: -1.5em;
    white-space: nowrap;
    left: 0;
}
div.text span.below {
    position: absolute;
    font-size: smaller;
    bottom: -1.4em;
    left: 0;
    white-space: nowrap;
}
div.text span.underline span.below {
    bottom: -1.8em;
}
div.text span.supplied {
    bottom: 1px;
    position: relative;
}
div.text span.deletion.overstrike, div.text span.deletion.overtyped {
    text-decoration: line-through;
}
div.text td.line-vertical {
    border-left: 1px solid #000000;
}
div.text hr.line {
    border-color: #000000; 
    text-align: left; 
    margin: 1em auto 1em 0;
}
div.text hr.line-18 {
    width: 12.5%;
}
div.text hr.line-14 {
    width: 25%;
    margin-left: 2.5em;
}
div.text hr.line-14.center, div.text hr.line-24.center, div.text hr.line-34.center {
    margin: 1em auto 1em auto;
}
div.text hr.line-24 {
    width: 50%;
}
div.text hr.line-34 {
    width: 75%;
}
div.text hr.line-44 {
    width: 100%;
}
div.text hr.line-14.inline, div.text hr.line-24.inline, div.text hr.line-34.inline, div.text hr.line-44.inline {
    display: inline-block;
    margin: 0 0.5em 0.25em 0;
}
div.text table hr.sum, div.text table hr.end {
    margin: 0;
}
/* STYLES FOR THE XSLT TRANSFORMATION OF PUBLICATIONS */
div#text-div .signed.indent-13 {
    text-indent: 30%;
}
div#text-div .app-lemma {
    background-color: #ccf2ff;
    cursor: pointer;
    position: relative;
}
div#text-div .app-text {
    visibility: hidden;
    width: auto;
    background-color: #990000;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-size: small;
    font-family: inherit;
    min-width: 100px;
}
div#text-div .app-lemma:hover .app-text {
    visibility: visible;
}
div#text-div .app-text .wit {
    text-align: right;
    white-space: nowrap;
    vertical-align: top;
}
div#text-div .app-text .rdg {
    text-align: left;
    padding-left: 5px;
    white-space: nowrap;
    vertical-align: top;
}
div#text-div span.underline {
    text-decoration: underline;
}
div#text-div span.big {
    font-size: 2em;
}
div#text-div p.formula {
    vertical-align: middle;
}
div#text-div span.division {
    display: inline-block;
}
div#text-div span.dividend {
    border-bottom: 1px solid #000000;
    padding-bottom: 5px;
}
div#text-div .lg.center {
    margin: 15px auto;
}
/* STYLES FOR INDIVIDUAL POETRY PUBLICATIONS */
div#text-div #W232 {
    margin: 0 25%;
}

/* STYLES FOR PROSE PUBLICATIONS */
div#text-div .text.prose {
    padding-left: 2em;
    padding-right: 2em;
}
div#text-div .text.prose h2 {
    text-align: center;
}
div#text-div .text.prose .milestone.line {
    text-align: center;
    font-weight: bold;
}
div#text-div .text.prose .lg.center {
    margin: 15px auto;
}
div#text-div .text.prose .superscript {
    vertical-align: super;
    font-size: small;
}
div#text-div .text.prose .note .text {
    font-size: small;
    display: none;
    vertical-align: super;
}
div#text-div .text.prose .note .label {
    display: inline;
    color: #990000;
    position: relative;
    cursor: pointer;
}
div#text-div .text.prose .quote.tooltip {
    display: block;
}
div#text-div .text.prose .rs.tooltip {
    display: inline-block;
}
div#text-div .text.prose .addition, 
div#text-div .text.prose .abbreviation,
div#text-div .text.prose .links {
    color: #990000;
    cursor: pointer;
}
div#text-div .text.prose .tooltip {
    position: relative;
    display: inline-block;
    color: #990000;
    opacity: 1;
    text-indent: 0;
    font-size: inherit;
    cursor: pointer;
    font-family: inherit;
}
div#text-div .text.prose .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #990000;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-size: small;
    font-family: inherit;
    min-width: 100px;
    text-indent: 0;
}
div#text-div .text.prose .addition .tooltiptext {
    min-width: 0;
}
div#text-div .text.prose .tooltip:hover .tooltiptext, 
div#text-div .text.prose .addition:hover .tooltiptext,
div#text-div .text.prose .abbreviation:hover .tooltiptext,
div#text-div .text.prose .links:hover .tooltiptext {
    visibility: visible;
}
div#text-div .text.prose .milestone.section, div#text-div .text.prose .milestone.title {
    text-align: center;
}
div#text-div .text.prose p.small {
    font-size: small;
}
/* STYLES FOR INDIVIDUAL PROSE PUBLICATIONS */
div#text-div .text.prose#W241 .citation.right {
    width: 55%;
    margin: 0 0 0 auto;
}
div#text-div .text.prose#W241 .citation.right p.bibl {
    padding: 0;
    margin: 0;
}

div#text-div .text.prose#W240 .argument.center {
    text-align: justify;
    width: 90%;
    margin: 0 auto;
}
div#text-div .text.prose#W198 .stage.right {
    width: 70%;
    margin: 0 0 0 auto;
}
div#text-div .text.prose#W227 .tooltiptext {
    width: 200px;
}
div#text-div .text.prose#W202 .bibl.right.indent-second {
    width: 70%;
    text-align: left;
    margin: 1em 0 1em auto;
    padding-left: 2em;
    text-indent: -2em;
}

/* STYLES FOR INDIVIDUAL LISTS */

/* BNP_E3_48-43 */
div.text#BNP_E3_48-43 #I2 span.note.margin-right {
    padding-left: 3em;
    margin-left: 1em;
}
div.text#BNP_E3_48-43 #I2 span.note.margin-right span.grouping-right {
    font-size: 9em;
    top: -0.7em;
}
div.text#BNP_E3_48-43 #I2 span.note.margin-left {
    left: -22%;
}
div.text#BNP_E3_48-43 #I5 span.note.margin-right span.grouping-right {
    font-size: 3em;
    top: -0.7em;
    right: -1.5em;
}


div.text#BNP_E3_48-43 span.note.margin-right span.note.margin-left span.grouping-left {
    font-size: 3.5em;
    right: -1.3em;
    top: -0.5em;
}
div.text#BNP_E3_48-43 span.note.margin-right span.note.margin-right span.grouping-right {
    font-size: 3.5em;
    right: -2.8em;
    top: -1.5em;
}

div.text#BNP_E3_48-43 div.list div.item:first-child span.note.margin-right {
    margin-left: 1em;
}
div.text#BNP_E3_48-43 div.list div.item:first-child span.note.margin-right div.list {
    position: relative;
    top: -1em;
    padding-left: 0;
    margin: 0;
}

/* BNP_E3_48-7r */
div.text#BNP_E3_48-7r span.note.margin-right {
    top: -20px;
}

/* BNP_E3_55E-94v */
div.text#BNP_E3_55E-94v td[rowspan="2"] span.grouping-right.sum {
    font-size: 2em;
    top: 0.3em;
    white-space: nowrap;
}

/* BNP_E3_133F-34r */
div.text#BNP_E3_133F-34r hr.line-14 {
    width: 10%;
    vertical-align: bottom;
}

/* BNP_E3_133H-82r */
div.text#BNP_E3_133H-82r span.note.margin-left span.grouping-left {
    font-size: 6em;
    top: -0.7em;
    right: -0.3em;
}

/* CP200 */
div.text#CP200 span.note.margin-right span.grouping-right {
    font-size: 10em;
    top: -0.6em;
}

/* CP222 */
div.text#CP222 span.note.margin-left span.grouping-left {
    font-size: 5em;
    top: -0.55em;
    right: -0.5em;
}
div.text#CP222 span.note.margin-right span.grouping-right {
    font-size: 3em;
    top: -0.75em;
}

/* CP684-a-686 */
div.text#CP684-a-686 span.note.margin-left span.grouping-left {
    font-size: 6em;
    top: -0.45em;
    right: -0.4em;
}
div.text#CP684-a-686 span.label.rotate-right {
    left: 50%;
    top: 0;
}

/* BNP_E3_144G-1-a-13 */
div.text#BNP_E3_144G-1-a-13 div#I2 span.note.margin-left span.grouping-left {
    font-size: 4em;
    top: -0.5em;
}

/* BNP_E3_144P-46v-a-48r */
div.text#BNP_E3_144P-46v-a-48r div#I23 span.note.margin-left span.grouping-left {
    font-size: 6em;
    right: -0.4em;
    top: -0.5em;
}
div.text#BNP_E3_144P-46v-a-48r div#I23 span.note.margin-left span.grouping-left span.label {
    right: -1.5em;
}

/* BNP_E3_12-1-10r */
div.text#BNP_E3_12-1-10r span.note.margin-right span.grouping-right {
    font-size: 7em;
    top: -0.7em;
}

/* BNP_E3_48A-48 */
div.text#BNP_E3_48A-48 p.right {
    padding-right: 50%;
}

/* BNP_E3_133I-23r */
div.text#BNP_E3_133I-23r div.item#I4 .label {
    min-width: 1.6em;
    right: 0.2em;
}

/* BNP_E3_136-57v */
div.text#BNP_E3_136-57v span.note.margin-right {
    font-size: 1.5em;
}
div.text#BNP_E3_136-57v span.note.margin-right.circled {
    margin: 0 1em;
    padding: 0;
    display: block;
    width: 5%;
    left: 80%;
    bottom: 30%;
}

/* BNP_E3_137D-3 */
div.text#BNP_E3_137D-3 span.note.margin-left.circled {
    top: 0.1em;
    min-width: 0;
    width: 1.5em;
    text-align: center;
    left: -2em;
    padding: 0.1em;
}
/* BNP_E3_188-1r */
div.text#BNP_E3_188-1r span.note.margin-right span.grouping-right {
    left: 1.5em;
    top: -0.1em;
    font-size: 9em;
}
/* BNP_E3_49B6-19v */
div.text#BNP_E3_49B6-19v span.note.margin-right span.grouping-right {
    font-size: 13em;
    left: 1.2em;
    top: -0.1em;
    font-family: sans-serif;
}
div.text#BNP_E3_49B6-19v span.note.margin-right span.grouping-right span.label {
    position: relative;
    right: 2em;
}
div.text#BNP_E3_49B6-19v table td + td {
    width: 25%;
}
/* CP246 */
div.text#CP246 span.note.margin-right {
    top: 1em;
}
div.text#CP246 #I4 span.note.margin-right, div.text#CP246 #I5 span.note.margin-right {
    right: -9.5em;
}
div.text#CP246 div.list > span.note.margin-right {
    top: 0.1em;
    font-size: 17em;
    font-family: sans-serif;
    left: 0.1em;
}
/* CP786 */
div.text#CP786 span.note.margin-right {
    right: 1em;
    top: 8em;
}
/* CP908 */
div.text#CP908 span.note.margin-left span.grouping-left {
    font-size: 5em;
    top: -0.5em;
    right: -0.5em;
    left: initial;
    font-family: sans-serif;
}
div.text#CP908 span.note.margin-left {
    left: -5em;
}
/* BNP_E3_20-65r */
div.text#BNP_E3_20-65r hr.line-14 {
    margin-left: 0.5em;
}
/* BNP_E3_48B-8r */
div.text#BNP_E3_48B-8r span.above {
    left: 4em;
}
/* BNP_E3_48-27r */
div.text#BNP_E3_48-27r .item#I7 .label {
    width: 3.8em;
}
/* BNP_E3_71A-2v */
div.text#BNP_E3_71A-2v .metamark.quotes.ditto {
    width: 100px;
}
/* BNP_E3_48G-26r */
div.text#BNP_E3_48G-26r .framed {
    padding: 3px;
}
div.text#BNP_E3_48G-26r p.right {

/* BNP_E3_48-18-e-19 */}
div.text#BNP_E3_48-18-e-19 #I2 .grouping-left {
    font-size: 8em;
    right: -0.2em;
    top: -0.4em;
}
div.text#BNP_E3_48-18-e-19 #I5 .grouping-left {
    font-size: 3em;
}
div.text#BNP_E3_48-18-e-19 #I9 .grouping-left {
    font-size: 4em;
}
div.text#BNP_E3_48-18-e-19 #I9 .grouping-right {
    font-size: 4em;
    right: 1.5em;
    top: 0.1em;
}
div.text#BNP_E3_48-18-e-19 #I11 .note.margin-right {
    top: -2.5em;
}
div.text#BNP_E3_48-18-e-19 #I11 .note.margin-right .grouping-left {
    left: 2em;
    font-size: 2em;
}
div.text#BNP_E3_48-18-e-19 #I12 .list {
    font-size: small;
}
/* BNP_E3_180r */
div.text#BNP_E3_180r div.list > .note.margin-right {
    right: 15em;
    top: -1em;
}
div.text#BNP_E3_180r #I1 .note.margin-right {
    right: 15em;
    top: 3em;
}
div.text#BNP_E3_180r #I2 .note.margin-right, div.text#BNP_E3_180r #I4 .note.margin-right {
    right: 15em;
}
div.text#BNP_E3_180r #I2 .grouping-right, div.text#BNP_E3_180r #I4 .grouping-right {
    right: 0.7em;
    font-size: 5em;
    top: -0.5em;
}
div.text#BNP_E3_180r #I4 .note.margin-right {
    right: 15em;
    top: 2em;
}
div.text#BNP_E3_180r #I5 .grouping-left {
    font-size: 8em;
    top: -0.8em;
    right: -0.3em;
}
div.text#BNP_E3_180r #I2 .grouping-left {
    font-size: 10em;
    top: -0.6em;
    right: -0.3em;
}
/* CP246 */
div.text#CP246 .grouping-right {
    top: -0.2em;
    right: -0.1em;
}
div.text.last#CP246 .list {
    padding-right: 2em;
}
div.text.last#CP246 .grouping-right {
    top: -0.3em;
    right: -0.4em;
}
div.text.last#CP246 #I1 .note.margin-right, div.text.last#CP246 #I2 .note.margin-right,
div.text.last#CP246 #I3 .note.margin-right, div.text.last#CP246 #I4 .note.margin-right,
div.text.last#CP246 #I5 .note.margin-right {
    left: 32em;
    top: 0.1em;
}
/* BNP_E3_181r */
div.text#BNP_E3_181r .grouping-left {
    font-size: 3em;
}
div.text#BNP_E3_181r .grouping-right {
    font-size: 3.5em;
    right: -1.5em;
}
div.text#BNP_E3_181r .margin-left.circled {
    width: auto;
}
div.text#BNP_E3_144G-38r-e-39r .grouping-right {
    font-size: 6em;
    top: -0.5em;
}
div.text#BNP_E3_144G-38r-e-39r hr {
    display: inline-block;
}
/* BNP_E3_189r */
div.text#BNP_E3_189r {
    margin-top: 7em;
}
div.text#BNP_E3_189r h2 .note.margin-right {
    top: -5em;
}
div.text#BNP_E3_189r #I1 .above, div.text#BNP_E3_189r #I2 .above {
    left: 4em;
}
div.text#BNP_E3_189r #I3 .note.margin-left {
    font-size: small;
    left: -20em;
    top: -3em;
}
