/* ######################### Application styles ###################### */

/* Basics */

*{ 
 font-family: 'Open Sans', sans-serif;  
}

html{
    background-color: #fff; 
}

body{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 15px;
    background-color: #B7B7B7;
}

.logos {
    max-height:50px;
    margin-right: 30px;
    margin-top: 20px;
    max-width: 200px;
}

p{
    font-size: 15px;
}

body > div.container{
    max-width: 70%;
}

#content.container{
    width: 1360px; /* war 1230 */
    margin: 42px auto;
}

h1{
    text-align: center;
    font-size: 29px; 
} 

h2{
    font-size: 17pt;
    line-height: 20px;
    margin: 0 auto 22px auto;
    text-align: center;
    position: relative;
}

h5
{
    text-align: center; 
    font-size: 16px; 
}

h6{
    font-size:15px;
    text-align: center; 
    padding: 5px 0;
    margin: 0;
}


label{
    display:inline;
    font-weight: 100 !important;
}

.clear{
    clear:both;
}


#tx-doi {
    margin-left:5px;
}

.olink {
    color: #08298A !important;
    text-decoration:none;
    cursor: pointer;

}
.olink:hover {
    text-decoration:underline;
    color: #08298A !important;
}

.doilink {
    color: #08298A !important;
    text-decoration:none;
    cursor: pointer;

}
.doilink:hover {
    text-decoration:underline;
    color: #08298A !important;
}
#clearing{
    padding: 4px 0;
    display: inline-block;
    width: 60px;
    text-align: center;
}
#footer2 {
    margin-top: 100px;
    margin-left: 103px;
    margin-right: 103px;
    border-top: 1px solid #990000;
    padding-top: 10px;
}
#footer2 a {
    color:#08298A;
}

#footer2 #p-cite {
    font-size: 10pt;
}
/* Unbekannt*/

.ScrollToTop {
    background: #990000 none repeat scroll 0 0;
    color: #ffffff;
    cursor: pointer;
    display: block;
    float: right;
    font-weight: bold;
    height: 40px !important;
    padding: 10px;
    position: fixed;
    right: 30px;
    text-align: center;
    text-decoration: none;
    bottom: 90px;
     width: 40px !important;
    display:none;
}

.ScrollToTop:hover {
    background:#4e4e4e !important;
}

#titletool{
    color: #F5F5F5;
    font-size : 25px;
}
/* Header */

#page-header{
    margin: 0 auto; 
    width: 90%; 
    z-index:0;
    max-width:1600px;
    text-align: center;
}
    #page-header a{
        text-decoration: none;
        color: #000;
    }

.header-image{
    max-width:800px;
    width: 48%;    
    z-index:0;
    display: inline-block;
    margin:-3px;
}

.dropdown.open .dropdown-toggle{
    color: #666;
}

.dropdown-submenu{
    white-space: nowrap;
}

#headline{
 margin: 0 auto;
 display:block;
 width:100%;
 }

#title{            
 width: 530px; /* war 510, aber dann brach die Zeile um */
 height: 95px; 
 background: #990000; 
 margin: 0 0 0 30px; 
 padding: 5px 10px; 
 z-index:1;
 position:absolute;
}

#title h1 {
    margin-top:10px;
}
.highlight {
    text-decoration:underline;
}
/* Content */

#content
{
 width: 1025px; 
 margin: 0 auto; 
}

#content.main{
    padding-top: 20px;
    margin: 0 auto; 

}

.content #doc, .content #pub {
    margin: 0 auto;
    width: 1125px;
    
}


#content li{
    margin: 5px 0;
}

#side{
 background-color: #fff !important;
 margin: 0 auto;
}

/* ################ EINZELNE SEITEN ############ */
#content #PageDissemination ul li {
    margin-bottom: 15px;
}
#content #PageDissemination ul {
    margin-left: 0px;
    padding-left: 0px;
}




/* MATCH HIGHLIGTING */
.hi{
    background-color: #bbbbbb;
    display: inline-block;
}

/* Extended Style*/

/* Navigation */

.NAVI_mainNavTab
{
}

#navi{
 width: 824px; 
 margin: -30px auto 0px;
 font-size: 16px;
 border:0px solid #888;
 background: #990000;
 z-index:1;
 position: relative;
}

#NAVI_elements div {
    width:824px;
    background: #990000;
    display:none;
    position:absolute;
    left:0px;
}
#navi span {
    cursor:pointer;
}
.nav-cont{
list-style: none; 
display: inline-block;
}
    .nav-cont li{
     display: inline-block;
     padding: 0 10px;
     font-size: 15px;
    }

#NAVI_elements{
        padding:0px 0px 7px 9px;    
        z-index:1;          
}
#NAVI_elements li {
    color: #fff;
    display: inline-block;
}
    #NAVI_elements > li{
        color: #fff;
        display: inline-block;
        padding: 16px 10px 6px 9px;
        font-size: 16px; 
    }
.NAVI_mainNavTab.active1 > span {
    text-decoration: underline;
}
.NAVI_mainNavTab > span:hover {
    text-decoration: underline;
}
.NAVI_mainNavTab.active1 > div {
    display:block;
}

.NAVI_subNav {
    background: #222;
    margin-top: 15px;
    margin-bottom: 10px;
    width:100%;
}


.NAVI_subNavTab {
    padding: 3px 3px;
    margin:0 auto;
}
.NAVI_subNavTab > span , .NAVI_subNavTab > a > span{
    width:100%;
    padding:3px 10px;

}
.NAVI_subNavTab > span:hover, .NAVI_subNavTab > a > span:hover {
    background-color: #4E4E4E;
}

.NAVI_subNavTab.active2 > span {
    background-color: #4E4E4E;
    text-decoration: underline;
}

.NAVI_subNavTab.active2 > div {
    display:block;
}

.NAVI_thirdNav, .NAVI_quadNav {
    margin-top: 15px;
    margin-bottom: 10px;
    width:100%;
}

.NAVI_thirdNav {
    padding-right: 5px;
}
.NAVI_thirdNavTab {
    text-align:center;
    min-width:18%;
}
.NAVI_quadNavTab {
    min-width:18%;

}
.NAVI_thirdNavTab.link, .NAVI_quadNavTab.link {
    max-width: 750px;
}
.NAVI_thirdNavTab > span , .NAVI_thirdNavTab > a > span {
    background: #222;
    margin:3px 5px;
    display:inline-block;
    padding:5px;
    text-align:center;
    width:100%;
}
.NAVI_thirdNavTab > span:hover, .NAVI_thirdNavTab > a > span:hover {
    background-color: #4E4E4E;
}

.NAVI_thirdNavTab.active3 > span {
    background-color: #4E4E4E;
    text-decoration: underline;
}

.NAVI_thirdNavTab.active3 > div {
    display:block;
}

.NAVI_quadNavTab > span , .NAVI_quadNavTab > a > span {
    background: #222;
    margin:3px 5px;
    display:inline-block;
    padding:5px;
    text-align:center;
    width:100%;
}
.NAVI_quadNavTab > span:hover, .NAVI_quadNavTab > a > span:hover {
    background-color: #4E4E4E;
}

#searchbox > a {
    display:block;
}

.restricted {
    color:#a8a4a4 !important;
}
.restricted > span {
    cursor: not-allowed !important;
}
.restricted > span:hover {

}

#nav_searchButton {
    text-decoration:none;
    display:inline-block;
    margin: 3px 5px;
    padding: 5px;
    background: #222;
    min-width: 18%;
    text-align: center;
}
#nav_searchButton:hover {
    background-color: #4E4E4E;
    text-decoration: underline;
}

.doc_nav {
background-color:green;
    
}

/* Search */

.small_text{
 font-size: 11px;
 margin: 7px 0 0 6px; 
 color: #fff;
 line-height: 1.2em;
}

#nav_searchButton {
    color: #FFF;
    margin-left: 6px;
    margin-top: 0;
    width: 90%;
    cursor: pointer;
    font-size: 11pt;
}
/* Zu bearbeiten */
textarea{
 margin: 0 auto;
}

#inhalt{
display: inline-block;
max-width: 440px;
min-height: 400px;
border: 1px solid #000;
float: left;
width:  459px;
}

#bild{
display: inline-block;
min-width: 28px;
min-height: 400px;
border: 1px solid #000;
background: url('../img/Fernando-pessoa1.jpg') center no-repeat;
float: left;
margin: 0 0 0 10px;
}

#weitere_infos{
 width: 640px; 
 height: 100px; 
 margin: 10px auto;
}

#weitere_infos_div{
 width: 640px; 
 height: 100px; 
 border: 1px solid #000;
 margin: 10px auto;
}

#zusatz{
 width: 400px; 
 border: 1px solid #000;
 margin: 10px auto;
 font-size: 15px;
 text-align: center; 
 padding: 20px 0;
}

#b-inhalt{
 margin: 10px 0 0 50px;
}

.filtergruppe{
display: inline-block;
border-right: 1px solid #000;
padding: 0 5px; 
}

.bolt{
    font-weight: bold;
	padding: 0 5px;
  }

#wInfo{
   padding: 5px;
  }

#filter{

 max-height: 30px;
 padding: 10px 30px 25px 30px;
 background: #990000; 
 color:#fff;
 cursor:pointer;
}

.filter{
 width: 80px;
 padding: 2px 3px; 
 margin: 2px 3px; 
}

.filter-a{
    margin: 0 auto; 
    padding: 3px 10px;
}

#filter-nav-a{
 float: right; 
 font-size: 15px;
 display: block; 
 height: 20px; 
}

#td-1, #td-2, #td-3, #td-4, #td-5, #td-6, #td-7, #td-8, #td-9{
width : 50px;
height: 100px; 
display: inline-block;
float:left;
border : 1px solid black;
}

/* Document / Publication Styles */
.text .label{
   display: inline-block;
   padding: 0;
   font-size: inherit;
   font-weight: inherit;
   line-height: inherit;
   color: inherit;
   vertical-align: inherit;
   white-space: inherit;
   text-shadow: inherit;
   background-color: inherit;
}


#openseadragon1 {
    border: 1px dotted;
    height: 600px;
    padding: 1px;
    width: 500px;
}

/*Tabs Style*/

ul#tabs{
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-right: 15px;
    color: #08298A !important;
    
}
ul#tabs a{
        color: #08298A;
    }
    ul#tabs li{
        display: inline-block;
        padding: 0 5px; 
    }    
    ul#tabs span{
        display: inline-block;
        background-color: #5c5859;
        padding: 3px 12px;
        margin-bottom: 4px;
        cursor: pointer;
          color: #fff;
    }
        ul#tabs span:hover{
            background-color: #900;   
        }
        ul#tabs span.selected{
          
        }
      
ul#tab{
    list-style-type: none;
    padding: 5px;
    float: left;
    width:100%;
}
    ul#tab a{
        color: #08298A;
    }
    ul#tab li{
        display: none;
    }
        ul#tab li.selected{
            display: block;
        }

/* Index / FacsimilieTabs*/
ul#indextabs{
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0 0 0 12px;
}
    ul#indextabs li{
        display: inline-block;
    }    
    ul#indextabs span{
        display: inline-block;
        background-color: #5c5859;
        padding: 3px 12px;
        margin-bottom: 4px;
        cursor: pointer;
        color: #fff;
    }
        ul#indextabs span:hover{
            background-color: #900;   
        }
        ul#indextabs span.active{
          
        }
    
ul#indextab{
    list-style-type: none;
    padding: 5px;
    float: left;
}
    ul#indextab a{
        color: #222;
    }
    ul#indextab li{
        display: none;
    }
        ul#indextab li.selected{
            display: block;
        }


#genreList a{
    color: #08298A;
    display: inline-block;
} 

.doctabelcontent{
    display: inline-block;
    margin: 10px 18px;
    min-width: 164px;
}
.doctabelcontent:hover{
    text-decoration: none !important;
}

.doctabelcontent a {
    color: #08298a;
}
.doctabelcontent i {
font-size: 14px;
}
.authorlink {
    color: #08298a;
}
.navigation a.authorlink:hover {
    text-decoration: underline;
    color: #08298a;
}
/* Search Button*/

#search{
    margin: 0 0 0 5px; 
}

#button2{
    width: 125px; 
    height: 25px;
    display: block; 
    margin: 0 0 0 5px; 
}

#searchfield{
    width:824px;
    margin: -10px auto 0 auto;
}

.container-4{
            overflow: hidden;
            width: 150px;
            background: #990000; 
            float: right; 
            padding: 5px;
            position:absolute;
            z-index:1;
            margin: -10px 0 0 674px;
            border: 1px solid #000; 
            border-top: none;
            }    
            .container-4 input#search{
                width: 125px;
                height: 32px;
                background: #fff;
                font-size: 10pt;
                color: #000;                
              }
            
            .container-4 input#search::-webkit-input-placeholder{color: black;}
            .container-4 input#search:-moz-placeholder{color: #65737e;}/* Firefox 18- */
            .container-4 input#search::-moz-placeholder{color: #65737e;}/* Firefox 19+ */
            .container-4 input#search:-ms-input-placeholder {color: black;}
          
/* Search Button End*/

.search_filter{
    width:21%;
    margin: 5px 0 10px 90px;
    /* border-right: 1px solid #000; */
    display: inline-block;
    float: left; 
}       
.search_resultList{
    width: 45%;
    display: inline-block;
    float: left;
    margin: 10px 30px;   
}
.search_resultList a{
    color: #fff;
}

#search_tips {
    display: inline-block;
    float: left;
    width: 19%;
    font-size: 10pt;
}

#search_tips ul {
    list-style: none;
    padding-left: 0;
}
#search_tips li#tips_head {
    text-decoration: underline;
    font-size: 11pt;
}
#search_tips li {
    margin: 20px 0;
}
.tab{
    background-color:#990000; 
    color: #fff;
    /*border:solid 0.5px;*/
    width: 120px;
    margin: 15px auto 0 auto; 
    cursor:pointer;
    }                
.tab:hover{
    background-color:#222; 
}

.selection{
    background-color:#990000;
    /*border:solid 0.5px;*/
    display:none;
    color: #222; 
    width:180px;
    margin: 0 14px 23px auto;
    padding: 7px; 
    }
.date_field{
    width: 135px;
    height: 34px;
    margin: 2px 17px;
}
input[type="checkbox"].role_input-box, input[type="radio"].role_input-box,
input[type="checkbox"].release_input-box, input[type="radio"].release_input-box,
input[type="checkbox"].lang_input-box, input[type="radio"].lang_input-box {
    margin-left: 5px;
    margin-right: 3px;
    vertical-align: top;
    margin-top: 5px;
}
.role_input-label, .release_input-label, .lang_input-label{
    color: #fff !important; 
}
                
#spezsearch{
    width: 178px;
    margin-left: 14px;
}

#spezsearchbutton{
    margin-left: 55px;
}
                                
.selectsearch{
    margin: 10px 0 0 5px; 
    height: 100px !important;
}
      
#result{
    text-align: left; 
    margin-top: 20px; 
    margin-left: 0px; 
    list-style: none;
}

#result a{
    color: #08298A !important;
}

.link{
    color: #990000 !important;    
    font-weight: normal !important; 
    cursor:pointer;
}

#headline{
    margin: 0 auto;
    display:block;
    width:100%;
 }

#lang{
    margin: 15px 10px 15px 0; 
    float:right;
    display:block;
    color:#990000;  
}

#article{
    border: 3px solid #990000;
    min-height: 300px;  
}

#text-div, #img-div{
  display:inline-block;
  /*margin: 0 5px 0 2.5px;*/
  margin: 15px 0 15px 15px
}

#text-div{
    width: 50%; 
    border-right: 3px dotted #222 !important;
}

#img-div{
    width: 45%;
    min-height: 100px;
    float:right;
}
#img-div a{
    color: #08298A !important;
}

#image-div{
  margin: 15px 0 15px 15px;
  display:inline-block;
  width: 45%;
  min-height: 100px;
  float:right;
}

#scrollline{
     margin:0;
 }
 
 #nota_bottom{
      display:none;
      }
      .editorial-note {
      display:none;
      }
      .doc_superscript {
         font-size: 15px;
         vertical-align: super;
      }
 
 /* Content Darstellung */
 
#titleline{
     background-color:#990000;
     color: #fff;
     max-width:600px;
     display:block;
     margin:15px auto 0 auto;
     padding: 10px 15px 4px 15px;
 }
 
#titleline h2 {
    padding: 5px 10px;
}

#titledate{
     font-size:12pt;
     font-style: italic; 
     text-align: center; 
     margin: 7px 0 0 0;
 }
 
#back{
     float: left;
     margin-left:5px;
 }
 
#forward{
     float: right;
     margin-right:5px;
 }
 
#back,#forward{
    display: inline-block;
    background-color: #A8A8A8;
    padding: 5px 20px;
    margin: 4px 0; 
    cursor: pointer;     
    width: 100px;
    text-align:center;
    }   
    #back:hover, #forward:hover{
            background-color: #900;
    }


#genre-content, #persons-content, #texts-content, #obras-content  {
     width: 824px; 
     margin: 0 auto;
}

#date, #alphab{
    margin-left: 5px !important;
    height: 17px;
    vertical-align: top;
    margin-right: 2px;
}

/* Footer  Temporär Auskommentiert*/
/*
#footer
{
    z-index:1;
    width: 1267px; 
    height: 80px; 
    background: #5c5859; 
    margin:0px auto;
}
*/

/* Sandbox - Der Ort zum experimentieren*/


#path{
    width: 210px; 
    float: left; 
}

#search-link{
    cursor: pointer; 
}

#lorem{
  width: 824px;
  margin: 0 auto 0 103px;
}

.metamark{
 cursor: text !important; 
}

li.tabs.selected span{
           background-color: #990000  !important;
            }            
li.itabs.selected span{
           background-color: #990000  !important;
            }

.sub_Nav{
    width: 817px !important; 
    padding: 3px 0; 
    color: #fff !important;
    background-color: #990000;
    margin: 15px 0;   
    height: 26px;
}

.bibl{
    margin: 12px 0; 
}
    .bibl a{
        color: #08298A; 
    }

.navigation{
   text-align: center;
    margin: 8px 0; 
}

.step{
    color:#fff;
    margin-right:5px;
}

.titleline_additional {
    font-style:italic !important;
    text-align:center !important;
    }

/* ######### NAVI ACTIVE STYLE ##########*/
#navi_elements li.active, .nav_documentos_tab.active, #navi_elements li.active a{
            text-decoration:underline !important;
            }
.nav_documentos_tab.active{
   background-color: #4E4E4E !important;
}
.nav_publicacoes_tab.active{
  background-color: #4E4E4E !important;  
}
.nav_cronologia_tab.active{
  background-color: #4E4E4E !important;    
}
#navi_elements li.active a{
            font-weight:bold !important;
            }
.nav_cronologia_sub_tab.active {
 background-color: #4E4E4E !important;    
}           

.nav_index_tab.active {
     background-color: #4E4E4E !important;    

}

.navbar{
    min-height: 42px !important; 
    margin-bottom: 10px; 
}

.editorial-note{
    /*margin-top: 20px*/; 
    border: 1px solid;
    margin-right: 10px;
    padding: 10px;
    width: 450px;
}

.search_your_list {
    display: block;
    float: left;
    margin-left: 2px;
    width:100%;
}

.nota {
    border:solid 1px;
    display:inline-block;
    padding-left: 10px;
    padding-right: 10px;

    color:white;
    background-color: #5c5859;
    cursor:pointer;

}
.nota:hover{
            background-color: #990000 !important;
}

.nota.selected {
    border:solid 1px;
    
}


#nota_bottom.selected {
    border-top:none;
}

#nota_top {
    margin-top:20px;
}

#nota_top.selected {
    border-bottom:none;
}

.search_your_div {    
}

.search_your_listdiv {
}

#resultados {
   text-align:left !important; 
   margin: 40px 0 0 0;
}


#footerFilter {
    position:relative;
}

#cite {
    width: 38% !important;
    bottom:35px;
}
#cite p{font-size:14px; margin: 0;}

  
 

#cite, #symboliga {
    border: 1px dotted !important;    
    background-color: white;
    margin-left: 0px; 
    padding: 10px;
    position: absolute;
    width: auto;
    z-index:2;
    
}
#symboliga {
    bottom:35px;
}

#symboliga table tr td {
    padding:1px 5px;

}
#symboliga table tr td:nth-child(even) {
    margin-left:3px;
}

.pLink {
                color: #08298A !important;
                text-decoration:none;
                cursor:pointer;
                }
.pLink:hover {
                text-decoration:underline;
                color: #08298A !important;
                }
                
.OrderForm {
    text-align:center;
} 
.search_resultList .OrderForm {
    text-align: left;
    margin: 10px 0;
}

.emptyTab {
    display:none;
}
.link-res {
    margin-left: 20px;
    cursor:not-allowed;
    color:lightgrey;
}

#title-sub {
    font-size:20px;
}
.DivPessoal {
    float: left;
    display:block;
    width:40%;
}
.DivPessoal input {
    margin-right: 3px;
    vertical-align: top;
}
.DivPessoal label {
    vertical-align: middle;
}

#DivPessoal-1 {

}
#DivPessoal-2 {
    margin-left:10px;
}
#DottedLine {
    width:100%;
    padding:5px;
    border-bottom: 1px dotted #222;
    margin-bottom: 20px;
}

#index-img-head{
    padding-left: 250px;
}

div.figure {
    text-align: center;
}

@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
      user-select: none; */
}

.loginmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help{
    font-size: 12px;
}
/* ########################## ab hier Darstellung der Dokument- und Publikationsinhalte ############################# */

/* STYLES FOR THE XSLT TRANSFORMATION OF DOCUMENTS */
div.text {
    line-height: 1.8em;
    position: relative;
    padding-left: 4em;
    padding-right: 0.5em;
}
div.text h2 {
    text-align: left;
    margin: 22px auto 22px auto;
}
div.text h2.center {
    text-align: center;
    line-height: 1em;
}
div.text h2.right {
    text-align: right;
}
div.text h2.inline {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    margin-right: 1em;
}
div.text h2.center span.below {
    display: inline-block;
    width: 100%;
    font-size: small;
}
div.text table.float-table {
    width: 100%;
}
div.text table {
    margin-left: 0em;
}
div.text table.center {
    margin: 0px auto;
}
div.text table.inline {
    display: inline-block;
}
div.text table td.center {
    text-align: center;
}
div.text table td.right {
    text-align: right;
}
div.text table td {
    vertical-align: top;
    padding-right: 2em;
}
div.text div.list {
    margin: 2em 0;
    padding-left: 0.5em;
    z-index:1;
    position:relative;
}
div.text div.list.indent, div.text table.indent {
    margin-left: 3em;
}
div.text p {
    padding-left: 1.1em;
    margin: 1em 0;
}
div.text > p {
    margin: 1em 0;
    padding-left: 0;
}
div.text > p.indent {
    margin-left: 2em;
}
div.text p.align-right, div#text-div p.align-right, div.text p.right, div#text-div p.right {
    text-align: right;
    padding-right: 2em;
}
div.text div.list.inline, div.text div.list div.list.inline {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    max-width: 90%;
}
div.text div.list.inline div.item:first-child {
    margin-top: 0;
}
div.text div.list.inline div.item.inline{
    display: inline-block;
    margin: 0;
    text-indent: 0;
}
div.text span.label.inline {
    display: inline-block;
    vertical-align: top;
}
div.text .overstrike .label {
    text-decoration: line-through;
}
div.text div.list div.list {
    margin-left: 2em;
}
div.text div.item {
    margin: 0.5em 0;
    position: relative;
    text-indent: 0;
}
div.text div.item > * {
    vertical-align: top;
}
div.text div.item .list.indent {
    margin-top: 0;
    margin-left: 4em;
    margin-bottom: 0;
}
div.text div.item hr {
    /**/
}
div.text div.item hr.inline {
    display: inline-block;
    vertical-align: middle;
}
div.text div.item.indent-2-label {
    text-indent: -1em;
    padding-left: 2em;
}
div.text div.item.indent-2 {
    text-indent: -3em;
    padding-left: 3em;
}
div.text div.item span.label {
    display: inline-block;
    min-width: 2em;
    text-align: center;
    text-indent: 0;
    position: relative;
}
div.text div.item sup {
    vertical-align: middle;
}
div.text p.center {
    text-align: center;
}
div.text p.right {
    text-align: right;
}
div.text p.indent-2 {
    text-indent: -2em;
    padding-left: 2em;
}
div.text p.indent-1 {
    text-indent: 2em;
}
div.text p.indent-first {
    text-indent: 2em;
}
div.text p.indent-13 {
    padding-left: 30%;
}
div.text p.position-center {
    display: inline-block;
    margin: 0 40%;
    white-space: nowrap;
}
div.text .border {
    border: 1px solid black;
    padding: 5px;
}
div.text span.note circled, div.text span.circled {
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px 10px;
    left: 10px;
    position: relative;
}
div.text span.note framed, div.text span.framed {
    border: 1px solid black;
    display: inline-block;
    text-indent: 0;
    padding: 3px;
}
div.text span.label.circled {
    border: 1px solid black;
    border-radius: 20px;
    padding: 0 4px;
    position: relative;
    top: -1px;
}
div.text span.mod.circled {
    border: 1px solid black;
    border-radius: 20px;
    padding: 6px 0px;
    position: relative;
    top: -1px;
}
div.text span.label.framed {
    border: 1px solid black;
    padding: 0 4px;
    position: relative;
    top: -1px;
}
div.text span.mod.framed {
    border: 1px solid black;
    padding: 4px 0;
    position: relative;
    top: -1px;
}
div.text div.item span.mod.framed {
    border: 1px solid black;
    padding: 4px;
    display: inline-block;
}
div.text span.note.margin-right {
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    padding-left: 2em;
    line-height: normal;
    white-space: nowrap;
    text-indent: 0;
    font-size: small;
}
div.text div.list.inline span.note.margin-right {
    right: -100px;
}
div.text div.item span.note.margin-left.range {
    position: absolute;
    left: -6em;
    line-height: normal;
    white-space: nowrap;
    top: 0.3em;
}
div.text div.item span.note.margin-left {
    position: absolute;
    left: -3.5em;
    top: 5px;
    line-height: normal;
    white-space: nowrap;
    text-align: right;
    display: inline-block;
    width: 3em;
}
div.text div.item.indent, div.text div.item.indent-1 {
    text-indent: 3em;
}
div.text > span.note.margin-left {
    display: inline-block;
    text-align: center;
    position: relative;
    left: -4em;
}
div.text span.note.margin-left span.grouping-left {
    right: -0.7em;
}
div.text div.note.center {
    text-align: center;
}
div.text div.note.center hr {
    margin: 1em auto;
    text-align: center;
}
div.text span.grouping-right, div.text span.grouping-left {
    font-weight: lighter;
    vertical-align: middle;
    color: #888888;
    position: absolute;
    right: -100px;
}
div.text span.grouping-right .label, div.text span.grouping-left .label {
    font-size: 15px;
    font-weight: normal;
    color: #000000;
    display: inline-block;
    vertical-align: middle;
}
div.text span.grouping-right.sum {
    position: relative;
    right: 0;
}
div.text div.metamark {
    position: relative;
}
div.text span.metamark.quotes.ditto {
    display: inline-block;
    width: 8%;
    text-align: center;
}
div.text span.label.rotate-right {
    transform: rotate(90deg);
    position: relative;
    top: 30%;
    left: 30%;
}
div.text div.item span.note.margin-left.rotate-right {
    transform: rotate(90deg);
    position: absolute;
    top: 30%;
    left: -20%;
}
div.text span.label.rotate-left {
    transform: rotate(-90deg);
    position: relative;
    top: 30%;
    left: 30%;
}
div.text div.item span.note.rotate-left {
    transform: rotate(-90deg);
    position: relative;
    top: 30%;
    left: 30%;
}
div.text div.metamark span.label.right {
    position: absolute;
    right: 1em;
    top: -1em;
}
div.text span.underline {
    text-decoration: underline;
}
div.text span.italic, div.editorial-note span.italic {
    font-style: italic;
}
div.text span.choice {
    position: relative;
    vertical-align: unset;
}
div.text span.anchor {
    position: relative;
}
div.text span.anchor.invisible {
    visibility: hidden;
}
div.text span.above {
    position: absolute;
    font-size: smaller;
    top: -1.5em;
    white-space: nowrap;
    left: 0;
}
div.text span.below {
    position: absolute;
    font-size: smaller;
    bottom: -1.4em;
    left: 0;
    white-space: nowrap;
}
div.text span.underline span.below {
    bottom: -1.8em;
}
div.text span.supplied {
    bottom: 1px;
    position: relative;
}
div.text span.deletion.overstrike, div.text span.deletion.overtyped {
    text-decoration: line-through;
}
div.text td.line-vertical {
    border-left: 1px solid #000000;
}
div.text hr.line {
    border-color: #000000; 
    text-align: left; 
    margin: 1em auto 1em 0;
}
div.text hr.line-18 {
    width: 12.5%;
}
div.text hr.line-14 {
    width: 25%;
    margin-left: 2.5em;
}
div.text hr.line-14.center, div.text hr.line-24.center, div.text hr.line-34.center {
    margin: 1em auto 1em auto;
}
div.text hr.line-24 {
    width: 50%;
}
div.text hr.line-34 {
    width: 75%;
}
div.text hr.line-44 {
    width: 100%;
}
div.text hr.line-14.inline, div.text hr.line-24.inline, div.text hr.line-34.inline, div.text hr.line-44.inline {
    display: inline-block;
    margin: 0 0.5em 0.25em 0;
}
div.text table hr.sum, div.text table hr.end {
    margin: 0;
}
/* STYLES FOR THE XSLT TRANSFORMATION OF PUBLICATIONS */
div#text-div .signed.indent-13 {
    text-indent: 30%;
}
div#text-div .app-lemma {
    background-color: #ccf2ff;
    cursor: pointer;
    position: relative;
}
div#text-div .app-text {
    visibility: hidden;
    width: auto;
    background-color: #990000;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-size: small;
    font-family: inherit;
    min-width: 100px;
    text-indent: 0;
}
div#text-div .app-lemma:hover .app-text {
    visibility: visible;
}
div#text-div .app-text .wit {
    text-align: right;
    white-space: nowrap;
    vertical-align: top;
}
div#text-div .app-text .rdg {
    text-align: left;
    padding-left: 5px;
    white-space: nowrap;
    vertical-align: top;
}
div#text-div span.underline {
    text-decoration: underline;
}
div#text-div span.big {
    font-size: 2em;
}
div#text-div p.formula {
    vertical-align: middle;
}
div#text-div span.division {
    display: inline-block;
}
div#text-div span.dividend {
    border-bottom: 1px solid #000000;
    padding-bottom: 5px;
}
div#text-div .lg.center {
    margin: 15px auto;
}
/* STYLES FOR INDIVIDUAL POETRY PUBLICATIONS */
div#text-div #W232 {
    margin: 0 25%;
}
/* STYLES FOR PROSE PUBLICATIONS */
div#text-div .text.prose {
    padding-left: 2em;
    padding-right: 2em;
}
div#text-div .text.prose h2 {
    text-align: center;
}
div#text-div .text.prose .milestone.line {
    text-align: center;
    font-weight: bold;
}
div#text-div .text.prose .lg.center {
    margin: 15px auto;
}
div#text-div .text.prose .superscript {
    vertical-align: super;
    font-size: small;
}
div#text-div .text.prose .note .text {
    font-size: small;
    display: none;
    vertical-align: super;
}
div#text-div .text.prose .note .label {
    display: inline;
    color: #990000;
    position: relative;
    cursor: pointer;
}
div#text-div .text.prose .quote.tooltip {
    display: block;
}
div#text-div .text.prose .rs.tooltip, div#text-div .text.prose .seg.tooltip {
    display: inline-block;
}
div#text-div .text.prose .addition, 
div#text-div .text.prose .abbreviation,
div#text-div .text.prose .links {
    color: #990000;
    cursor: pointer;
}
div#text-div .text.prose .tooltip {
    position: relative;
    display: inline-block;
    color: #990000;
    opacity: 1;
    text-indent: 0;
    font-size: inherit;
    cursor: pointer;
    font-family: inherit;
}
div#text-div .text.prose .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #990000;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-size: small;
    font-family: inherit;
    min-width: 100px;
    text-indent: 0;
}
div#text-div .text.prose .tooltiptext a.link {
    color: #FFFFFF !important;
}
div#text-div .text.prose .links .tooltiptext {
    text-align: left;
}
div#text-div .text.prose .addition .tooltiptext {
    min-width: 0;
}
div#text-div .text.prose .tooltip:hover .tooltiptext, 
div#text-div .text.prose .addition:hover .tooltiptext,
div#text-div .text.prose .abbreviation:hover .tooltiptext,
div#text-div .text.prose .links:hover .tooltiptext {
    visibility: visible;
}
div#text-div .text.prose .milestone.section, div#text-div .text.prose .milestone.title {
    text-align: center;
}
div#text-div .text.prose p.small {
    font-size: small;
}
/* STYLES FOR INDIVIDUAL PROSE PUBLICATIONS */
div#text-div .text.prose#W251 .letter.center {
    width: 90%;
    margin: 0 auto;
}
div#text-div .text.prose#W251 .opener .salute,
div#text-div .text.prose#W251 .opener .dateline,
div#text-div .text.prose#W251 .closer .salute,
div#text-div .text.prose#W251 .closer .signed {
    display: inline-block;
}
div#text-div .text.prose#W251 .opener .dateline.right,
div#text-div .text.prose#W251 .closer .signed.right {
    float: right;
}
div#text-div .text.prose#W241 .citation.right {
    width: 55%;
    margin: 0 0 0 auto;
}
div#text-div .text.prose#W241 .citation.right p.bibl {
    padding: 0;
    margin: 0;
}

div#text-div .text.prose#W240 .argument.center {
    text-align: justify;
    width: 90%;
    margin: 0 auto;
}
div#text-div .text.prose#W198 .stage.right {
    width: 70%;
    margin: 0 0 0 auto;
}
div#text-div .text.prose#W227 .tooltiptext {
    width: 200px;
}
div#text-div .text.prose#W202 .bibl.right.indent-second {
    width: 70%;
    text-align: left;
    margin: 1em 0 1em auto;
    padding-left: 2em;
    text-indent: -2em;
}
/*######################## STYLES FOR INDIVIDUAL LISTS ##########################*/

/* BNP_E3_48-43 */
div.text#BNP_E3_48-43 #I2 span.note.margin-right {
    padding-left: 3em;
    margin-left: 1em;
}
div.text#BNP_E3_48-43 #I2 span.note.margin-right span.grouping-right {
    font-size: 9em;
    top: -0.7em;
}
div.text#BNP_E3_48-43 #I2 span.note.margin-left {
    left: -22%;
}
div.text#BNP_E3_48-43 #I5 span.note.margin-right span.grouping-right {
    font-size: 3em;
    top: -0.7em;
    right: -1.5em;
}


div.text#BNP_E3_48-43 span.note.margin-right span.note.margin-left span.grouping-left {
    font-size: 3.5em;
    right: -1.3em;
    top: -0.5em;
}
div.text#BNP_E3_48-43 span.note.margin-right span.note.margin-right span.grouping-right {
    font-size: 3.5em;
    right: -2.8em;
    top: -1.5em;
}

div.text#BNP_E3_48-43 div.list div.item:first-child span.note.margin-right {
    margin-left: 1em;
}
div.text#BNP_E3_48-43 div.list div.item:first-child span.note.margin-right div.list {
    position: relative;
    top: -1em;
    padding-left: 0;
    margin: 0;
}

/* BNP_E3_48-7r */
div.text#BNP_E3_48-7r span.note.margin-right {
    top: -20px;
}

/* BNP_E3_55E-94v */
div.text#BNP_E3_55E-94v td[rowspan="2"] span.grouping-right.sum {
    font-size: 2em;
    top: 0.3em;
    white-space: nowrap;
}

/* BNP_E3_133F-34r */
div.text#BNP_E3_133F-34r hr.line-14 {
    width: 10%;
    vertical-align: bottom;
}

/* BNP_E3_133H-82r */
div.text#BNP_E3_133H-82r span.note.margin-left span.grouping-left {
    font-size: 6em;
    top: -0.7em;
    right: -0.3em;
}

/* CP200 */
div.text#CP200 span.note.margin-right span.grouping-right {
    font-size: 10em;
    top: -0.6em;
}

/* CP222 */
div.text#CP222 span.note.margin-left span.grouping-left {
    font-size: 5em;
    top: -0.55em;
    right: -0.5em;
}
div.text#CP222 span.note.margin-right span.grouping-right {
    font-size: 3em;
    top: -0.75em;
}

/* CP684-a-686 */
div.text#CP684-a-686 span.note.margin-left span.grouping-left {
    font-size: 6em;
    top: -0.45em;
    right: -0.4em;
}
div.text#CP684-a-686 span.label.rotate-right {
    left: 50%;
    top: 0;
}

/* BNP_E3_144G-1-a-13 */
div.text#BNP_E3_144G-1-a-13 div#I2 span.note.margin-left span.grouping-left {
    font-size: 4em;
    top: -0.5em;
}

/* BNP_E3_144P-46v-a-48r */
div.text#BNP_E3_144P-46v-a-48r div#I23 span.note.margin-left span.grouping-left {
    font-size: 6em;
    right: -0.4em;
    top: -0.5em;
}
div.text#BNP_E3_144P-46v-a-48r div#I23 span.note.margin-left span.grouping-left span.label {
    right: -1.5em;
}

/* BNP_E3_12-1-10r */
div.text#BNP_E3_12-1-10r span.note.margin-right span.grouping-right {
    font-size: 7em;
    top: -0.7em;
}

/* BNP_E3_48A-48 */
div.text#BNP_E3_48A-48 p.right {
    padding-right: 50%;
}

/* BNP_E3_133I-23r */
div.text#BNP_E3_133I-23r div.item#I4 .label {
    min-width: 1.6em;
    right: 0.2em;
}

/* BNP_E3_136-57v */
div.text#BNP_E3_136-57v span.note.margin-right {
    font-size: 1.5em;
}
div.text#BNP_E3_136-57v span.note.margin-right.circled {
    margin: 0 1em;
    padding: 0;
    display: block;
    width: 5%;
    left: 80%;
    bottom: 30%;
}

/* BNP_E3_137D-3 */
div.text#BNP_E3_137D-3 span.note.margin-left.circled {
    top: 0.1em;
    min-width: 0;
    width: 1.5em;
    text-align: center;
    left: -2em;
    padding: 0.1em;
}
/* BNP_E3_188-1r */
div.text#BNP_E3_188-1r span.note.margin-right span.grouping-right {
    left: 1.5em;
    top: -0.1em;
    font-size: 9em;
}
/* BNP_E3_49B6-19v */
div.text#BNP_E3_49B6-19v span.note.margin-right span.grouping-right {
    font-size: 13em;
    left: 1.2em;
    top: -0.1em;
    font-family: sans-serif;
}
div.text#BNP_E3_49B6-19v span.note.margin-right span.grouping-right span.label {
    position: relative;
    right: 2em;
}
div.text#BNP_E3_49B6-19v table td + td {
    width: 25%;
}
/* CP246 */
div.text#CP246 span.note.margin-right {
    top: 1em;
}
div.text#CP246 #I4 span.note.margin-right, div.text#CP246 #I5 span.note.margin-right {
    right: -9.5em;
}
div.text#CP246 div.list > span.note.margin-right {
    top: 0.1em;
    font-size: 17em;
    font-family: sans-serif;
    left: 0.1em;
}
/* CP786 */
div.text#CP786 span.note.margin-right {
    right: 1em;
    top: 8em;
}
/* CP908 */
div.text#CP908 span.note.margin-left span.grouping-left {
    font-size: 5em;
    top: -0.5em;
    right: -0.5em;
    left: initial;
    font-family: sans-serif;
}
div.text#CP908 span.note.margin-left {
    left: -5em;
}
/* BNP_E3_20-65r */
div.text#BNP_E3_20-65r hr.line-14 {
    margin-left: 0.5em;
}
/* BNP_E3_48B-8r */
div.text#BNP_E3_48B-8r span.above {
    left: 4em;
}
/* BNP_E3_48-27r */
div.text#BNP_E3_48-27r .item#I7 .label {
    width: 3.8em;
}
/* BNP_E3_71A-2v */
div.text#BNP_E3_71A-2v .metamark.quotes.ditto {
    width: 100px;
}
/* BNP_E3_48G-26r */
div.text#BNP_E3_48G-26r .framed {
    padding: 3px;
}
div.text#BNP_E3_48G-26r p.right {

/* BNP_E3_48-18-e-19 */}
div.text#BNP_E3_48-18-e-19 #I2 .grouping-left {
    font-size: 8em;
    right: -0.2em;
    top: -0.4em;
}
div.text#BNP_E3_48-18-e-19 #I5 .grouping-left {
    font-size: 3em;
}
div.text#BNP_E3_48-18-e-19 #I9 .grouping-left {
    font-size: 4em;
}
div.text#BNP_E3_48-18-e-19 #I9 .grouping-right {
    font-size: 4em;
    right: 1.5em;
    top: 0.1em;
}
div.text#BNP_E3_48-18-e-19 #I11 .note.margin-right {
    top: -2.5em;
}
div.text#BNP_E3_48-18-e-19 #I11 .note.margin-right .grouping-left {
    left: 2em;
    font-size: 2em;
}
div.text#BNP_E3_48-18-e-19 #I12 .list {
    font-size: small;
}
/* BNP_E3_180r */
div.text#BNP_E3_180r div.list > .note.margin-right {
    right: 15em;
    top: -1em;
}
div.text#BNP_E3_180r #I1 .note.margin-right {
    right: 15em;
    top: 3em;
}
div.text#BNP_E3_180r #I2 .note.margin-right, div.text#BNP_E3_180r #I4 .note.margin-right {
    right: 15em;
}
div.text#BNP_E3_180r #I2 .grouping-right, div.text#BNP_E3_180r #I4 .grouping-right {
    right: 0.7em;
    font-size: 5em;
    top: -0.5em;
}
div.text#BNP_E3_180r #I4 .note.margin-right {
    right: 15em;
    top: 2em;
}
div.text#BNP_E3_180r #I5 .grouping-left {
    font-size: 8em;
    top: -0.8em;
    right: -0.3em;
}
div.text#BNP_E3_180r #I2 .grouping-left {
    font-size: 10em;
    top: -0.6em;
    right: -0.3em;
}
/* CP246 */
div.text#CP246 .grouping-right {
    top: -0.2em;
    right: -0.1em;
}
div.text.last#CP246 .list {
    padding-right: 2em;
}
div.text.last#CP246 .grouping-right {
    top: -0.3em;
    right: -0.4em;
}
div.text.last#CP246 #I1 .note.margin-right, div.text.last#CP246 #I2 .note.margin-right,
div.text.last#CP246 #I3 .note.margin-right, div.text.last#CP246 #I4 .note.margin-right,
div.text.last#CP246 #I5 .note.margin-right {
    left: 32em;
    top: 0.1em;
}
/* BNP_E3_181r */
div.text#BNP_E3_181r .grouping-left {
    font-size: 3em;
}
div.text#BNP_E3_181r .grouping-right {
    font-size: 3.5em;
    right: -1.5em;
}
div.text#BNP_E3_181r .margin-left.circled {
    width: auto;
}
div.text#BNP_E3_144G-38r-e-39r .grouping-right {
    font-size: 6em;
    top: -0.5em;
}
div.text#BNP_E3_144G-38r-e-39r hr {
    display: inline-block;
}
/* BNP_E3_189r */
div.text#BNP_E3_189r {
    margin-top: 7em;
}
div.text#BNP_E3_189r h2 .note.margin-right {
    top: -5em;
}
div.text#BNP_E3_189r #I1 .above, div.text#BNP_E3_189r #I2 .above {
    left: 4em;
}
div.text#BNP_E3_189r #I3 .note.margin-left {
    font-size: small;
    left: -20em;
    top: -3em;
}
/* BNP_E3_144X-48v */
div.text#BNP_E3_144X-48v hr.line {
    width: 5em;
}
div.text#BNP_E3_144X-48v span.metamark.quotes.ditto {
    width: 5em;
}