<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title class="config:app-title">App Title</title>
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700" rel="stylesheet" type="text/css"/>
        <meta class="config:app-meta"/>
        <link class="helpers:app-root" rel="shortcut icon" href="resources/images/favicon.ico"/>
        <link class="helpers:app-root" rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css"/>
        <link class="helpers:app-root" rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <link class="helpers:app-root" rel="stylesheet" type="text/css" href="resources/css/jquery-ui.css"/>
        <link class="helpers:app-root" rel="stylesheet" type="text/css" href="resources/css/jquery-ui.structure.css"/>
        <script class="helpers:app-root" type="text/javascript" src="resources/js/jquery-1.11.2.js"/>
        <script class="helpers:app-root" type="text/javascript" src="resources/js/bootstrap.min.js"/>
        <script class="helpers:app-root" type="text/javascript" src="resources/js/code.js"/>
        <script class="helpers:app-root" type="text/javascript" src="resources/js/jquery-ui.js"/>
        <!--
        <link class="helpers:app-root" rel="stylesheet"
            href="resources/css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
        <script class="helpers:app-root" type="text/javascript" src="resources/js/jquery.fancybox.pack.js?v=2.1.5"></script>
        -->
        <script type="text/javascript"/>
    </head>
    <body id="body">
        <?php include("https://localhost:8080/exist/apps/pessoa/resources/php/connect.php"); ?>
        <div id="side">
            <div id="headline">
                <div id="title">
                    <h1>
                        <a style="color=white;" id="title-tool2" class="helpers:app-root " href="index.html">
                            <span id="title-tool" class="" data-template="page:singleElement" data-template-xmltype="site-title" data-template-xmlid="site-title"/>
                            <br/>
                            <span id="title-sub" data-template="page:singleElement" data-template-xmltype="site-title" data-template-xmlid="site-subtitle"/>
                            <span style="font-style: italic;"> - BETA!</span>
                        </a>
                    </h1>
                </div>
                <div id="lang">
                    <a class="link" onclick="switchlang('en')">English</a>|<a class="link" onclick="switchlang('pt')">Português</a>|<a class="link" onclick="switchlang('de')">Deutsch</a>
<!--
                    <get data-template="config:showUser"/>
                    <a href="logout" data-template="helpers:app-root" style="color:black;">Logout</a>
                    <a href="#" data-toggle="modal" data-target="#login-modal" style="color:black;">Login</a>
-->
                    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog">
                            <div class="loginmodal-container">
                                <h1>Login to Your Account</h1><br/>
                                <form method="POST" action="login">
                                    <input type="text" name="user" placeholder="Username"/>
                                    <input type="password" name="pass" placeholder="Password"/>
                                    <input type="submit" name="login" class="login loginmodal-submit" value="Login"/>
                                </form>
                                <!--
                                <div class="login-help">
                                    <a href="#">Register</a> - <a href="#">Forgot Password</a>
                                </div>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"/>
            </div>
            <div id="page-header">
                <img  src="resources/images/pessoa2.jpg" class="helpers:app-root header-image"/>
                <img  src="resources/images/pessoa2.jpg" class="helpers:app-root header-image"/>
            </div>
          <!--  <div id="navi" class="page:construct"/>
            -->
            <div id="navi">
                <map data-template="page:construct">
                    <div id="NAVI_main">
                        <ul id="NAVI_elements">
                            <each data-template="helpers:invisibleEach" data-template-from="sites" data-template-to="misc">
                                <li class="NAVI_mainNavTab" data-template="page:catchSiteHead" data-template-container="misc" active="1">
                                        <map data-template="helpers:createValueMap" data-template-container="misc" data-template-key="sub" data-template-name="sub1">
                                            <div>
                                                <ul class="NAVI_subNav">
                                                    <each data-template="helpers:invisibleEach" data-template-from="sub1" data-template-to="tsc">
                                                        <li class="NAVI_subNavTab" data-template="page:catchSiteHead" data-template-container="tsc" active="2">
                                                            <map data-template="helpers:createValueMap" data-template-container="tsc" data-template-key="sub" data-template-name="sub2">
                                                                <div>
                                                                    <ul class="NAVI_thirdNav">
                                                                        <each data-template="helpers:invisibleEach" data-template-from="sub2" data-template-to="tsh">
                                                                            <li class="NAVI_thirdNavTab" data-template="page:catchSiteHead" data-template-container="tsh" active="3">
                                                                                <map data-template="helpers:createValueMap" data-template-container="tsh" data-template-key="sub" data-template-name="sub3">
                                                                                    <div>
                                                                                        <ul class="NAVI_quadNav">
                                                                                            <each data-template="helpers:invisibleEach" data-template-from="sub3" data-template-to="tsd">
                                                                                                <li class="NAVI_quadNavTab" data-template="page:catchSiteHead" data-template-container="tsd"></li>
                                                                                            </each>
                                                                                        </ul>
                                                                                    </div>
                                                                                </map>
                                                                            </li>
                                                                        </each>
                                                                    </ul>
                                                                </div>
                                                            </map>
                                                        </li>
                                                    </each>

                                                </ul>
                                            </div>
                                        </map>
                                </li>
                            </each>
                            <li>
                                <a href="#" class="glyphicon glyphicon-search" id="search_button" role="tab" data-toggle="tab"></a>
                            </li>
                        </ul>
                    </div>
                </map>
                    <get data-template="page:construct_search"/>

            </div>
            <div class="clear"/>
            <div id="content" class="container"/>
            <div class="whiteBorder ScrollToTop">
                <i class="glyphicon glyphicon-triangle-top"/>
            </div>
            <div id="footer">
                <a href="#">informação legal</a>
            </div>
        </div>
        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
              var u="//projects.cceh.uni-koeln.de/piwik/";
              _paq.push(['setTrackerUrl', u+'piwik.php']);
              _paq.push(['setSiteId', 10]);
              var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
              g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
            calcImage();
          </script>
        <noscript>
            <p>
                <img src="//projects.cceh.uni-koeln.de/piwik/piwik.php?idsite=10" style="border:0;" alt=""/>
            </p>
        </noscript>
        <!-- End Piwik Code -->
    </body>
</html>